{% if field.name == "passed_out" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Heart Health Questions about You and Your Family</h3>
  <p>
    All questions are 'yes' or 'no' answer,
    where a 'yes' response requires an explanation.
  </p>
  <ol>
{% endif %}
{% if field.name == "head_injuries" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Head and Neck Injury</h3>
  <p>
    A "Yes" answer will require an explanation,
    including the severity, the year of
    occurrence(s), and the number of diagnosed
    and suspected concussions.
  </p>
  <ol>
{% endif %}
{% if field.name == "abdomen_injury" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Torso Injury</h3>
  <p>
    A "Yes" answer will require an explanation.
  </p>
  <ol>
{% endif %}
{% if field.name == "shoulder_fracture" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Upper Extremity Injury</h3>
  <p>
    A "Yes" answer will require an explanation:
    Right or Left; History of surgery
  </p>
  <h4 class="athlete-header">
    Shoulder/Clavicle
  </h4>
  <blockquote>
  <ol>
{% endif %}
{% if field.name == "labrum_injury" %}
  </ol>
  </blockquote>
  <ol>
{% endif %}
{% if field.name == "hip_pelvis" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Lower Extremity Injury</h3>
  <p style="margin-bottom:-5px;">
    A "Yes" answer will require an explanation:
    Right or Left; History of surgery
  </p>
  <ol>
{% endif %}
{% if field.name == "hamstring" %}
  </ol>
  <h4 class="althlete-header">
    Thigh
  </h4>
  <blockquote>
  <ol>
{% endif %}
{% if field.name == "knee_ligaments" %}
  </ol>
  </blockquote>
  <h4 class="althete-header">
    Knee
  </h4>
  <blockquote>
  <ol>
{% endif %}
{% if field.name == "shin_spints" %}
  </ol>
  </blockquote>
  <h4 class="athlete-header">
    Lower leg
  </h4>
  <blockquote>
  <ol>
{% endif %}
{% if field.name == "ankle_fracture" %}
  </ol>
  </blockquote>
  <h4 class="athlete-header">
    Ankle
  </h4>
  <blockquote>
  <ol>
{% endif %}
{% if field.name == "foot" %}
  </ol>
  </blockquote>
  <ol>
{% endif %}
{% if field.name == "glasses" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Ears, Eyes, Dental</h3>
  <ol>
{% endif %}
{% if field.name == "previous_year_change" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Additional Medical Information</h3>
  <ol>
{% endif %}
{% if field.name == "trouble_sleeping" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Student Mental Health Screening</h3>
  <p>
  Please answer all questions honestly.
  All answers are <u>confidential</u> and
  will not be shared. For any item to which you
  would answer "Yes", please provide an explanation.
  </p>
  <ol>
{% endif %}
{% if field.name == "other_information" %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Miscellaneous</h3>
  <ol>
{% endif %}
{% if field.name == "menstrual_cycle" and gender == 'Female' %}
  </li></ol></fieldset>
  <fieldset class="blockLabels">
  <h3>Female Athletes Only</h3>
  <ol>
{% endif %}
