{% extends "home.html" %}
{% load filters %}
{% load livewhale_api %}
{% block title %}
    COVID-19 Vaccine Card &mdash; Medical History &mdash;
    Health and Counseling &mdash; Carthage College
{% endblock %}
{% block content %}
<div class="large-12 forms-container">
    <h2>
        COVID-19 Vaccine Card
    </h2>
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form"
         enctype="multipart/form-data" id="profile" style="height:600px;">
        {% csrf_token %}
        <fieldset class="blockLabels">
          <ol>
            <li class="form-group ctrlHolder">
              <h3>
                <label for="id_covid19_vaccine_card">
                    Photo or scan of your COVID-19 Vaccine Card
                </label>
              </h3>
              {% if form..errors %}
              <div class="required warning">
                <span class="error-message">
                  {{ form.covid19_vaccine_card.errors|join:", "}}
                </span>
              {% else %}
              <div class="required">
              {% endif %}
                <input type="file" name="covid19_vaccine_card"
                  id="id_covid19_vaccine_card" class="fleft"
                  style="width:300px">
                {% if manager.covid19_vaccine_card %}
                <a href="{{media_url}}files/{{manager.covid19_vaccine_card}}"
                  class="fleft" style="margin-left:10px;margin-top:3px;"
                  target="_blank" title="current file">
                  <i class="fa fa-file"></i></a>
                {% endif %}
              </div>
            </li>
          </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
