{% extends "home.html" %}
{% block title %}
    Medical History &mdash;
    Health and Counseling &mdash; Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" type="text/css" media="screen"
    href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="screen"
    href="//www.carthage.edu/static/vendor/jquery/plugins/bootstrapvalidator/css/bootstrapValidator.min.css">
{% endblock %}
{% block javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.mtz.monthpicker.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
        event.preventDefault();
        return false;
        }
    });
    options = {
        startYear: 1980,
        finalYear: 2014
    };
    $("#toggle_no").click(function() {
        /* we need 'prop' to manage the UI selecting of 'no' button */
        $("input[id$='_0']").prop('checked', this.checked);
        /* we need 'attr' to set checked="checked for POST value */
        if ($(this).is(':checked')) {
            $("input[id$='_0']").attr("checked", "checked");
            $("li[id$='_2']").remove();
            $("li.error").remove();
        } else {
            $("input[id$='_0']").removeAttr("checked");
        }
    });
    $("input:radio").on('change', function() {
        nm = $(this).attr('name');
        id = "id_" + nm + "_2";
        yes_input = '<li id="' + id + '" class="infield">';
        yes_input +='<label>&mdash;<strong class="red">Explain:</strong>&nbsp;</label>';
        yes_input +='<input type="text" name="' + nm + '_2" maxlength="255"';
        if ($(this).val() == "Yes") {
            if ( $(this).attr('name') == "chicken_pox"){
                yes_input +='class="dyntext required date-picker" />';
            } else {
                yes_input +='class="dyntext required xlarge" />';
            }
            yes_input +='</li>';
            $(this).closest('ul').append(yes_input);
            if ( $(this).attr('name') == "chicken_pox"){
                $('.date-picker').monthpicker(options);
                $('.date-picker').monthpicker('show');
            }
        }
        if ($(this).val() == "No") {
            $("#" + id).remove();
            $("li.error").remove();
        }
    });
    {% if form.errors %}
    $(':radio:checked').each(function() {
        val = $(this).val();
        //if ($(this).val() == "Yes") {
        if (val != "No" &&  val != "") {
            nm = $(this).attr('name');
            id = "id_" + nm + "_2";
            yes_input = '<li id="' + id + '" class="infield">';
            yes_input +='<label>&mdash;<strong class="red">Explain:</strong>';
            yes_input +='&nbsp;</label><input type="text" name="' + nm + '_2"';
            yes_input +=' value="' + val + '" maxlength="255"';
            if ( $(this).attr('name') == "chicken_pox"){
                yes_input +='class="dyntext required date-picker" />';
            } else {
                yes_input +='class="dyntext required xlarge" />';
            }
            yes_input +='</li>';
            $(this).closest('ul').append(yes_input);
            if ( $(this).attr('name') == "chicken_pox"){
                $('.date-picker').monthpicker(options);
                $('.date-picker').monthpicker('show');
            }
        }
    });
    {% endif %}
    /*
    $('#medical-history').submit(function( event ) {
        var elem = document.getElementById('medical-history').elements;
        var radios = {};
        $(':radio').each(function() {
            radios[$(this).attr('name')] = true;
        });
        var count = 0;
        $.each(radios, function() {
            count++;
        });
        if ($(':radio:checked').length === count) {
            error = false;
        }else{
            error = true;
        }

        if(!error){
            for(var i = 0; i < elem.length; i++) {
                var e = elem[i];
                var yes = e.name.match(/_2$/);
                if (yes) {
                    if (!e.value) {
                        error = true;
                    } else {
                        elem[i-1].value = e.value;
                    }
                }
            }
        }
        if (error) {
            if(event.preventDefault) {
                event.preventDefault();
            } else {
                event.returnValue = false;
            }
            $('#errorModal').modal('show');
        }
    });
    */
});
</script>
{% endblock %}
{% block content %}
<div class="large-12 forms-container">
    <h2>
        Medical history
        {% if stype == "athlete" %}
        for athletes
        {% endif %}
    </h2>
    <p>
        This information will become a part of your medical record.
        Accurate health information is essential to provide you with
        the best care possible. Medical record information is
        confidential and will not be released to anyone outside
        Carthage College without your permission, except as required
        by law, such as with court-ordered release or in reporting of
        certain communicable diseases to the Department of Health.
    </p>
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="medical-history">
        {% csrf_token %}
        <div id="medical-history">
            <fieldset class="blockLabels">
                <ol class="nobull">
                    <li>
                        <input
                            type="checkbox"
                            name="toggle_no" id="toggle_no" />
                        <label for="toggle_no" style="display:inline;">
                            Mark all as "No"
                        </label>
                    </li>
                    {% if stype == "athlete" %}
                        {% for field in form %}
                            {% if field.name == "concussion" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Head and Neck Injury</h3>
                            <p>
                                A "Yes" answer will require an explanation,
                                including the severity, the year of
                                occurrence(s), and the number of diagnosed
                                and suspected concussions.
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.name == "abdomen_injury" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Torso Injury</h3>
                            <p>
                                A "Yes" answer will require an explanation.
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.name == "shoulder_fracture" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Upper Extremity Injury</h3>
                            <p>
                                A "Yes" answer will require an explanation:
                                Right or Left; History of surgery
                            </p>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                Shoulder/Clavicle
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "labrum_injury" %}
                            </ol>
                            </blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "hip_pelvis" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Lower Extremity Injury</h3>
                            <p style="margin-bottom:-5px;">
                                A "Yes" answer will require an explanation:
                                Right or Left; History of surgery
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.name == "hamstring" %}
                            </ol>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                <p>&nbsp;<p/>
                                Thigh
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "knee_ligaments" %}
                            </ol>
                            </blockquote>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                Knee
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "shin_spints" %}
                            </ol>
                            </blockquote>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                <p>&nbsp;<p/>
                                Lower leg
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "ankle_fracture" %}
                            </ol>
                            </blockquote>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                <p>&nbsp;<p/>
                                Ankle
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "foot" %}
                            </ol>
                            </blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "glasses" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Ears, Eyes, Dental</h3>
                            <ol>
                            {% endif %}
                            {% if field.name == "previous_year_change" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Additional Medical Information</h3>
                            <ol>
                            {% endif %}
                            {% if field.name == "menstrual_cycle" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Female Athletes Only</h3>
                            <ol>
                            {% endif %}
                            {% include "form_field.inc.html" %}
                        {% endfor %}
                    {% else %}
                        {% for field in form %}
                            {% if forloop.first %}
                            <li>
                                <p>
                                    Any item to which you answer "Yes",
                                    please provide an explanation.
                                </p>
                            </li>
                            {% endif %}
                            {% if field.name == "organ_loss" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <p>
                                Please check "yes" for any conditions with
                                which you have been diagnosed. Please
                                provide an explanation for item with a
                                "yes" response.
                            </p>
                            <ol>
                            {% endif %}
                            {% include "form_field.inc.html" %}
                        {% endfor %}
                    {% endif %}
                </ol>
            </fieldset>
            {% include "form_submit.inc.html" %}
        </div>
    </form>
</div>
<div id="errorModal" class="modal fade bs-example-modal-sm" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
                Close
            </span>
        </button>
        <h1 class="modal-title">Error</h1>
      </div>
      <div class="modal-body">
        <p>
            You did not respond with a "Yes" or "No" to all of the questions,
            or you responsed "Yes" to one of the questions but did not provide
            an explanation.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
{% endblock %}
