{% load livewhale_api %}
<form class="form medical-history">
    <div id="medical-history">
        <fieldset class="blockLabels">
            {% if not request.user.is_staff %}
            <div style="float:right;">
                <a href="{% url 'medical_history_print' 'student' 'print' %}">
                    <i class="fa fa-print fa-4x"></i>
                </a>
            </div>
            {% endif %}
            <ol class="nobull" style="float:left;">
                {% for field in form.visible_fields %}
                    {% if forloop.first %}
                    <li>
                        <p>
                            For any item to which you would answer "Yes",
                            please provide an explanation.
                        </p>
                    </li>
                    {% endif %}
                    {% if field.name == "organ_loss" %}
                    </li></ol></fieldset>
                    <fieldset class="blockLabels">
                    {% if not update %}
                    <p>
                        Please check "yes" for any conditions with
                        which you have been diagnosed. Please
                        provide an explanation for any item to which you would
                        answer "yes".
                    </p>
                    {% else %}
                    <p>
                        For any item to which you would answer "Yes",
                        please provide an explanation.
                    </p>
                    {% endif %}
                    <ol>
                    {% endif %}
                    {% if field.name == "trouble_sleeping" %}
                    </li></ol></fieldset>
                    <fieldset class="blockLabels">
                      <legend>
                        Student Mental Health Screening
                      </legend>
                      <p>
                      Please answer all questions honestly.
                      All answers are <u>confidential</u> and
                      will not be shared. For any item to which you
                      would answer "Yes", please provide an explanation.
                      </p>
                      <ol>
                    {% endif %}
                    {% if field.name == "depression" %}
                    <li class="form-group ctrlHolder">
                      <h3 style="color: #000;font-weight:700;">
                        I have been diagnosed by a medical professional with the following:
                      </h3>
                    </li>
                    {% endif %}
                    <li class="form-group ctrlHolder">
                    <h3>{{ field.label_tag }}</h3>
                    <a href="#" id="{{field.name}}" data-type="text"
                        data-pk="{{data.id}}"
                        data-table="cc_student_medical_history"
                        data-title="{{field.label}}" class="xeditable">
                        {{field.value|default_if_none:"&nbsp;"}}
                    </a>
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    </li>
                {% endfor %}
                <li class="form-group ctrlHolder">
                  {% get_lw_content as mental_health blurbs 3293 %}
                  {{mental_health.body|safe}}
                </li>
            </ol>
        </fieldset>
    </div>
</form>
