{% extends "home.html" %}
{% block title %}
    Medical History &mdash;
    Health and Counseling &mdash; Carthage College
{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" media="screen"
    href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
{% endblock %}
{% block javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validate/jquery.validate.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.mtz.monthpicker.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    options = {
        startYear: 1980,
        finalYear: 2014
    };
    $("#toggle_no").click(function() {
        /* we need 'prop' to manage the UI selecting of 'no' button */
        $("input[id$='_0']").prop('checked', this.checked);
        /* we need 'attr' to set checked="checked for POST value */
        if ($(this).is(':checked')) {
            $("input[id$='_0']").attr("checked", "checked");
            $("li[id$='_2']").remove();
            $("li.error").remove();
        } else {
            $("input[id$='_0']").removeAttr("checked");
        }
    });
    $("input:radio").change(function() {
        nm = $(this).attr('name');
        id = "id_" + nm + "_2";
        if ($(this).val() == "Yes") {
            html = '<li id="' + id + '" class="infield">';
            html +='<label>&mdash;Explain:&nbsp;</label>';
            html +='<input type="text" name="' + nm + '" maxlength="255"';
            if ( $(this).attr('name') == "chicken_pox"){
                html +='class="dyntext required date-picker" />';
            } else {
                html +='class="dyntext required xlarge" />';
            }
            html +='</li>';
            $(this).closest('ul').append(html);
            if ( $(this).attr('name') == "chicken_pox"){
                $('.date-picker').monthpicker(options);
                $('.date-picker').monthpicker('show');
            }
        }
        if ($(this).val() == "No") {
            $("#" + id).remove();
            $("li.error").remove();
        }
    });
    var validator = $("#profile").validate({
        debug: true,
        errorElement: "li",
        errorPlacement: function (error, element) {
            icon = '<img src="';
            icon +='//www.carthage.edu/static/forms/img/icons/requiredx.png" />';
            error.appendTo ( element.parents("ul:first") );
            //offset = element.offset();
            error.addClass('error');
            error.css('width', 20);
            error.html(icon);
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="span-21" style="background-color:#FCFAEB;">
    <h3 class="fright"><a href="{% url 'home' %}">Return to main menu</a></h3>
    <h1>
        Medical history
        {% if stype == "athlete" %}
        for athletes
        {% endif %}
    </h1>
    <p>
        This information will become a part of your medical record.
        Accurate health information is essential to provide you with
        the best care possible. Medical record information is
        confidential and will not be released to anyone outside
        Carthage College without your permission, except as required
        by law, such as with court-ordered release or in reporting of
        certain communicable diseases to the Department of Health.
    </p>
    {% if form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">
        {% csrf_token %}
        <div id="medical-history">
            <div class="span-20">
                <fieldset class="blockLabels">
                    <ol>
                        <li>
                            <input
                                type="checkbox"
                                name="toggle_no" id="toggle_no" />
                            <label for="toggle_no" style="display:inline;">
                                Mark all as "No"
                            </label>
                        </li>
                        {% if stype == "athlete" %}
                            {% for field in form %}
                                {% if field.name == "concussion" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Head and Neck Injury</h3>
                                <p>
                                    A "Yes" answer will require an explanation,
                                    including the severity, the year of
                                    occurrence(s), and the number of diagnosed
                                    and suspected concussions.
                                </p>
                                <ol>
                                {% endif %}
                                {% if field.name == "abdomen_injury" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Torso Injury</h3>
                                <p>
                                    A "Yes" answer will require an explanation.
                                </p>
                                <ol>
                                {% endif %}
                                {% if field.name == "shoulder_fracture" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Upper Extremity Injury</h3>
                                <p>
                                    A "Yes" answer will require an explanation:
                                    Right or Left; History of surgery
                                </p>
                                <h4 style="margin-bottom:-30px;margin-left:9px;">
                                    Shoulder/Clavicle
                                </h4>
                                <blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "labrum_injury" %}
                                </ol>
                                </blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "hip_pelvis" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Lower Extremity Injury</h3>
                                <p style="margin-bottom:-5px;">
                                    A "Yes" answer will require an explanation:
                                    Right or Left; History of surgery
                                </p>
                                <ol>
                                {% endif %}
                                {% if field.name == "hamstring" %}
                                </ol>
                                <h4 style="margin-bottom:-30px;margin-left:9px;">
                                    <p>&nbsp;<p/>
                                    Thigh
                                </h4>
                                <blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "knee_ligaments" %}
                                </ol>
                                </blockquote>
                                <h4 style="margin-bottom:-30px;margin-left:9px;">
                                    Knee
                                </h4>
                                <blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "shin_spints" %}
                                </ol>
                                </blockquote>
                                <h4 style="margin-bottom:-30px;margin-left:9px;">
                                    <p>&nbsp;<p/>
                                    Lower leg
                                </h4>
                                <blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "ankle_fracture" %}
                                </ol>
                                </blockquote>
                                <h4 style="margin-bottom:-30px;margin-left:9px;">
                                    <p>&nbsp;<p/>
                                    Ankle
                                </h4>
                                <blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "foot" %}
                                </ol>
                                </blockquote>
                                <ol>
                                {% endif %}
                                {% if field.name == "glasses" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Ears, Eyes, Dental</h3>
                                <ol>
                                {% endif %}
                                {% if field.name == "previous_year_change" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Additional Medical Information</h3>
                                <ol>
                                {% endif %}
                                {% if field.name == "menstrual_cycle" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <h3>Female Athletes Only</h3>
                                <ol>
                                {% endif %}
                                {% include "form_field.inc.html" %}
                            {% endfor %}
                        {% else %}
                            {% for field in form %}
                                {% if forloop.first %}
                                <li>
                                    <p>
                                        Any item to which you answer "Yes",
                                        please provide an explanation.
                                    </p>
                                </li>
                                {% endif %}
                                {% if field.name == "organ_loss" %}
                                </li></ol></fieldset>
                                <fieldset class="blockLabels">
                                <p>
                                    Please check "yes" for any conditions with
                                    which you have been diagnosed. Please
                                    provide an explanation for item with a
                                    "yes" response.
                                </p>
                                <ol>
                                {% endif %}
                                {% include "form_field.inc.html" %}
                            {% endfor %}
                        {% endif %}
                    </ol>
                </fieldset>
            </div>
        </div>
        <div class="span-20 clear">
            {% include "form_submit.inc.html" %}
        </div>
    </form>
</div>
{% endblock %}
