{% extends "home.html" %}
{% load filters %}
{% load livewhale_api %}
{% block title %}
    Verify &mdash;
    Medical History &mdash;
    Health and Counseling &mdash; Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" type="text/css" media="screen"
    href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="screen"
    href="//www.carthage.edu/static/vendor/jquery/plugins/bootstrapvalidator/css/bootstrapValidator.min.css">
{% endblock %}
{% block extra_javascript %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.mtz.monthpicker.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    options = {
        startYear: 1980,
        finalYear: new Date().getFullYear()
    };
    // hide all text fields
    $("li[id$='_2']").hide();
    // show text fields with content
    $(".medical-history-verify").show();
    // set all radios to 'no' or not
    $("#toggle_no").on('click', function() {
        /* we need 'prop' to manage the UI selecting of 'no' button */
        $("input[id$='_0']").prop('checked', this.checked);
        /* we need 'attr' to set checked="checked" for POST value */
        if ($(this).is(':checked')) {
            $("input[id$='_0']").attr("checked", "checked");
            $("li[id$='_2']").hide();
            $("input[id$='_2']").val("");
            $("li.error").remove();
        } else {
            $("input[id$='_0']").removeAttr("checked");
        }
    });
    $("input:radio").on('change', function() {
        nm = $(this).attr('name');
        console.log("name = " + nm);
        id = nm + "_2";
        val = $(this).val();
        if (val == "Yes") {
            $("#" + id).show();
            if (nm == "counseling" || nm == "anxiety" || nm == "depression") {
                $('#mentalHealthModal').modal('show');
            }
        }
        if (val == "No") {
            $("#" + id).hide();
        }
    });
    {% if form.errors %}
    $(':radio:checked').each(function() {
        val = $(this).val();
        if (val != "No" &&  val != "" ) {
            nm = $(this).attr('name');
            id = nm + "_2";
            $("#" + id).show();
        }
    });
    {% endif %}
    $('#medical-history').submit(function( event ) {
        var elem = document.getElementById('medical-history').elements;
        var radios = {};
        $(':radio').each(function() {
            radios[$(this).attr('name')] = true;
        });
        var count = 0;
        $.each(radios, function() {
            count++;
        });
        if ($(':radio:checked').length === count) {
            error = false;
        }else{
            error = true;
        }
        /* copy _2 to _1 */
        if(!error){
            for(var i = 0; i < elem.length; i++) {
                var e = elem[i];
                var yes = e.name.match(/_2$/);
                // we can remove this "hidden" clause
                if (yes && e.type != "hidden" && $("#" + yes).is(":visible") ) {
                    if (!e.value) {
                        error = true;
                    } else {
                        elem[i-1].value = e.value;
                    }
                }
            }
        }
        if (error) {
            if(event.preventDefault) {
                event.preventDefault();
            } else {
                event.returnValue = false;
                return false;
            }
            $('#errorModal').modal('show');
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="large-12 forms-container">
    <h2>
        Medical history
        {% if stype == "athlete" %}
        for athletes
        {% endif %}
    </h2>
    {% get_lw_content as instructions blurbs 2223 %}
    {{instructions.body}}
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="medical-history">
        {% csrf_token %}
        <div id="medical-history">
            <fieldset class="blockLabels">
                <ol class="nobull">
                    <!--
                    <li>
                        <input
                            type="checkbox"
                            name="toggle_no" id="toggle_no" />
                        <label for="toggle_no" style="display:inline;">
                            Mark all as "No"
                        </label>
                    </li>
                    -->
                    {% if stype == "athlete" %}
                        {% for field in form.visible_fields %}
                            {% include "medical_history/athlete_headers.inc.html" %}
                            {% if field.value == "No" or not field.value %}
                                {% include "medical_history/form_field.inc.html" %}
                            {% else %}
                                {% include "medical_history/form_verify_field.inc.html" %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for field in form.visible_fields %}
                            {% if forloop.first %}
                            <li>
                                <p>
                                    Any item to which you answer "Yes",
                                    please provide name of medications, year,
                                    side, diagnosis when appropriate.
                                </p>
                            </li>
                            {% endif %}
                            {% if field.name == "organ_loss" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <p>
                                Please check "yes" for any conditions with
                                which you have been diagnosed. Please
                                provide an explanation for item with a
                                "yes" response.
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.value == "No" %}
                                {% include "medical_history/form_field.inc.html" %}
                            {% else %}
                                {% include "medical_history/form_verify_field.inc.html" %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ol>
            </fieldset>
            {% include "form_submit.inc.html" %}
        </div>
    </form>
</div>
<div id="errorModal" class="modal fade bs-example-modal-sm" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
                Close
            </span>
        </button>
        <h1 class="modal-title">Error</h1>
      </div>
      <div class="modal-body">
        <p>
            You did not respond with a "Yes" or "No" to all of the questions,
            or you responsed "Yes" to one of the questions but did not provide
            an explanation.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<div id="mentalHealthModal" class="modal fade bs-example-modal-sm" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">
                Close
            </span>
        </button>
        <h1 class="modal-title">Counseling services</h1>
      </div>
      <div class="modal-body">
        <p>
            {% get_lw_content as counseling blurbs 2174 %}
            {{counseling.body}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
{% endblock %}
