{% extends "home.html" %}
{% block title %}
    Medical History &mdash;
    Health and Counseling &mdash; Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" type="text/css" media="screen"
    href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
    rel="stylesheet"/>
<style>
.btn-primary {
    background-color: #fff;
}
.btn-primary:hover {
    background-color: #cacaca;
}
blockquote {
    border-left: 0;
}
#page-content-wrap .content h4 {
    font-weight: bold;
}
</style>
{% endblock %}
{% block javascript %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.mtz.monthpicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
        event.preventDefault();
        return false;
        }
    });
    /* x-editable jquery plugin */
    $.fn.editable.defaults.mode = 'inline';
    $('.xeditable').editable({
        url: "{% url 'set_type' %}",
        emptytext: "Click to edit",
        params: function (params) {
            params.table = $(this).attr("data-table");
            params.college_id = {{student.id|default:"0"}};
            params.switch = params.value;
            params.field = params.name;
            return params
        },
        success: function(response, newValue) {
            $.growlUI('Saved');
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="large-12 forms-container">
    <h2>
        Medical history
        {% if stype == "athlete" %}
        for athletes
        {% endif %}
    </h2>
    <p>
        This information will become a part of your medical record.
        Accurate health information is essential to provide you with
        the best care possible. Medical record information is
        confidential and will not be released to anyone outside
        Carthage College without your permission, except as required
        by law, such as with court-ordered release or in reporting of
        certain communicable diseases to the Department of Health.
    </p>
    {% if update %}
        <div class="alert alert-warning" role="alert">
            <p>
                Click on your response to any given question to update
                your answer. Click the green check mark to save.
            </p>
        </div>
    {% endif %}
    <form method="post" action="." class="form" id="medical-history">
        {% csrf_token %}
        <div id="medical-history">
            <fieldset class="blockLabels">
                <ol class="nobull">
                    {% if stype == "athlete" %}
                        {% for field in form.visible_fields %}
                            {% if field.name == "concussion" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Head and Neck Injury</h3>
                            <p>
                                A "Yes" answer will require an explanation,
                                including the severity, the year of
                                occurrence(s), and the number of diagnosed
                                and suspected concussions.
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.name == "abdomen_injury" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Torso Injury</h3>
                            <p>
                                A "Yes" answer will require an explanation.
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.name == "shoulder_fracture" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Upper Extremity Injury</h3>
                            <p>
                                A "Yes" answer will require an explanation:
                                Right or Left; History of surgery
                            </p>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                Shoulder/Clavicle
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "labrum_injury" %}
                            </ol>
                            </blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "hip_pelvis" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Lower Extremity Injury</h3>
                            <p style="margin-bottom:-5px;">
                                A "Yes" answer will require an explanation:
                                Right or Left; History of surgery
                            </p>
                            <ol>
                            {% endif %}
                            {% if field.name == "hamstring" %}
                            </ol>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                <p>&nbsp;<p/>
                                Thigh
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "knee_ligaments" %}
                            </ol>
                            </blockquote>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                Knee
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "shin_spints" %}
                            </ol>
                            </blockquote>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                <p>&nbsp;<p/>
                                Lower leg
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "ankle_fracture" %}
                            </ol>
                            </blockquote>
                            <h4 style="margin-bottom:-30px;margin-left:9px;">
                                <p>&nbsp;<p/>
                                Ankle
                            </h4>
                            <blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "foot" %}
                            </ol>
                            </blockquote>
                            <ol>
                            {% endif %}
                            {% if field.name == "glasses" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Ears, Eyes, Dental</h3>
                            <ol>
                            {% endif %}
                            {% if field.name == "previous_year_change" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Additional Medical Information</h3>
                            <ol>
                            {% endif %}
                            {% if field.name == "menstrual_cycle" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            <h3>Female Athletes Only</h3>
                            <ol>
                            {% endif %}
                            <li class="form-group ctrlHolder">
                            <h3>{{ field.label_tag }}</h3>
                            <a href="#" id="{{field.name}}" data-type="text"
                                data-pk="{{cid}}"
                                data-table="{{table}}"
                                data-title="{{field.label}}" class="jeditable">
                                {{field.value|default_if_none:"&nbsp;"}}
                            </a>
                            {% if field.help_text %}
                                <p class="help">{{field.help_text}}</p>
                            {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for field in form.visible_fields %}
                            {% if forloop.first %}
                            <li>
                                <p>
                                    Any item to which you answer "Yes",
                                    please provide an explanation.
                                </p>
                            </li>
                            {% endif %}
                            {% if field.name == "organ_loss" %}
                            </li></ol></fieldset>
                            <fieldset class="blockLabels">
                            {% if not update %}
                            <p>
                                Please check "yes" for any conditions with
                                which you have been diagnosed. Please
                                provide an explanation for item with a
                                "yes" response.
                            </p>
                            {% else %}
                            <p>
                                Please
                                provide an explanation for item with a
                                "yes" response.
                            </p>
                            {% endif %}
                            <ol>
                            {% endif %}
                            <li class="form-group ctrlHolder">
                            <h3>{{ field.label_tag }}</h3>
                            <a href="#" id="{{field.name}}" data-type="text"
                                data-pk="{{cid}}"
                                data-table="{{table}}"
                                data-title="{{field.label}}" class="jeditable">
                                {{field.value|default_if_none:"&nbsp;"}}
                            </a>
                            {% if field.help_text %}
                                <p class="help">{{field.help_text}}</p>
                            {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </fieldset>
            {% if not update %}
                {% include "form_submit.inc.html" %}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
