{% load livewhale_api %}
<form class="form medical-history">
    <div id="medical-history">
        <fieldset class="blockLabels">
            <p>
                For any item to which you would answer "Yes",
                please provide an explanation.
            </p>
            <ol style="float:left;">
                {% for field in form.visible_fields %}
                    <li class="form-group ctrlHolder">
                    <h3>{{ field.label_tag }}</h3>
                    <a href="#" id="{{field.name}}" data-type="text"
                        data-pk="{{data.id}}"
                        data-table="student_medical_history"
                        data-title="{{field.label}}" class="xeditable">{{field.value|default_if_none:"&nbsp;"}}{% if not field.value %}<i class="fa fa-pencil" aria-hidden="true" title="Please answer this question"></i>{% endif %}</a>
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    </li>
                {% endfor %}
                <li class="form-group ctrlHolder">
                  {% get_lw_content as mental_health blurbs 3293 %}
                  {{mental_health.body|safe}}
                </li>
            </ol>
        </fieldset>
    </div>
</form>
