{% extends "home.html" %}
{% load livewhale_api %}
{% block title %}
    Medical History &mdash;
    Health and Counseling &mdash; Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" type="text/css" media="screen"
    href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
    rel="stylesheet"/>
<style>
.btn-primary:hover {
    background-color: #cacaca;
}
blockquote {
    border-left: 0;
}
#page-content-wrap .content h4 {
    font-weight: bold;
}
div.growlUI { position:relative;margin-top:60px; }
div.growlUI:before { color:green; font-size: 4em;position: absolute; font-family: 'FontAwesome'; top: 0; left: 10px; content: "\f00c"; }
div.growlUI h1, div.growlUI h2 {
color: white; padding: 5px 5px 5px 75px; text-align: left;font-size:2em;}
div.growlUI h2 { font-size:1.4em;}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.mtz.monthpicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
    type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
        event.preventDefault();
        return false;
        }
    });
    /* x-editable jquery plugin */
    $.fn.editable.defaults.mode = 'inline';
    $('.xeditable').editable({
        url: "{% url 'set_val' %}",
        emptytext: "Click to edit",
        params: function (params) {
            params.table = $(this).attr("data-table");
            params.college_id = {{cid|default:"0"}};
            params.switch = params.value;
            params.field = params.name;
            return params
        },
        success: function(response, newValue) {
            $.growlUI('Success', "Data saved.");
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="large-12 forms-container">
  <h2>
    Medical history
    {% if stype == "athlete" %}
    for athletes
    {% endif %}
  </h2>
  {% get_lw_content as instructions blurbs 2223 %}
  {{instructions.body|safe}}
  {% if update %}
    <div class="alert alert-warning" role="alert">
      <p>
        All questions are 'yes' or 'no' answer,
        where a 'yes' response requires an explanation.
      </p>
      <p>
        Click on your response to any given question to update
        your answer. Click the green check mark to save.
      </p>
    </div>
  {% endif %}
  {% if stype == "athlete" %}
    {% include "medical_history/form_athlete.inc.html" %}
  {% else %}
    {% include "medical_history/form_student.inc.html" %}
  {% endif %}
</div>
{% endblock %}
