cryptography>=36.0.1
django==3.2.18
django-localflavor>=3.1
django-loginas>=0.3.10
django-admin-honeypot>=1.1.0
image>=1.5.28
mysqlclient>=2.1.0
python-memcached>=1.59
python-ldap>=3.4.0
pyodbc>=4.0.32
Pillow>=8.4.0
requests>=2.26.0
