django==2.2.24
python-memcached==1.59
python-ldap==3.2.0
pyodbc==4.0.30
image==1.5.28
Pillow==8.2.0
requests==2.25.1
django-localflavor==3.0
django-loginas==0.3.8
django-informixdb==1.9.0
django-admin-honeypot==1.1.0
mysqlclient==1.4.6
pycryptodome==3.9.4
cryptography==3.3.2
wemake-python-styleguide==0.13.3
