{% extends "home.html" %}
{% load livewhale_api %}
{% block title %}
  Sickle Cell Trait Testing Form &mdash;
  Health and Counseling &mdash;
  Carthage College
{% endblock %}
{% block content %}
<div class="forms-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 forms-container">
      <h2>Sickle Cell Trait Testing</h2>
      {% get_lw_content as sicklecell blurbs 2011 %}
      {{sicklecell.body|safe}}
      {% include "includes/errors_text.html" %}
      <form method="post" action="." class="form"
        enctype="multipart/form-data" id="sickle_cell">
        {% csrf_token %}
        {% include "medical_history/waivers/athlete_sicklecell.inc.html" %}
        {% include "form_submit.inc.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
