{% extends "home.html" %}
{% block title %}
    Student Athlete Authorization/Consent For
    Disclosure of Protected Health Information (PHI) &mdash;
    Health and Counseling &mdash;
    Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="https://app.carthage.edu/themes/toph/assets/css/magnific-popup.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src="https://app.carthage.edu/themes/toph/assets/js/magnific-popup.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
  $('#id_submit').prop('disabled', true);
  $('#privacy-waiver').submit(function(e) {
    if ( $("input[name='disclose_records']").is(':checked') ) {
      // disable submit
      $('#id_submit').prop('disabled', true);
      return true;
    } else {
      alert('You must check the "Disclose Records" box in order to proceed.')
      return false;
    }
  });
  /* must click to view the video before proceeding */
  $('.modal-video').magnificPopup({
    disableOn: 700,
    type: 'iframe',
    mainClass: 'mfp-fade',
    removalDelay: 160,
    preloader: false,
    fixedContentPos: false
  });
  $('.modal-video').click(function(){
    $('#id_submit').prop('disabled', false);
  });
});
</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-8 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 forms-container">
    <h2>
        Student Athlete Authorization/Consent For <br />
        Disclosure of Protected Health Information (PHI)
    </h2>
    <form method="post" action="." class="form" id="privacy-waiver">
        {% csrf_token %}
        {% include "medical_history/waivers/athlete_privacy.inc.html" %}
        {% include "form_submit.inc.html" %}
    </form>
  </div>
</div>
{% endblock %}
