{% extends "home.html" %}
{% block title %}
    Intercollegiate Athletic Program
    Release And Waiver Of Liability, Assumption Of Risk
    And Indemnity Agreement &mdash; Health and Counseling &mdash;
    Carthage College
{% endblock %}
{% block javascript %}
<script type="text/javascript" charset="utf-8">
$(function() {
    $('#id_submit').attr('disabled', 'disabled');
    $('#id_agree').click(function() {
        if ($(this).is(':checked')) {
            $('#id_submit').removeAttr('disabled');
        } else {
            $('#id_submit').attr('disabled', 'disabled');
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="span-21 forms-container">
    <h3 class="fright"><a href="{% url 'home' %}">Return to main menu</a></h3>
    <h2 style="width:600px;">
        Intercollegiate Athletic Program
        Release And Waiver Of Liability, Assumption Of Risk
        And Indemnity Agreement
    </h2>
    {% if form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <form method="post" action="." class="form" id="profile">{% csrf_token %}
        <div class="span-20">
            <p>
                I hereby acknowledge that I have voluntarily
                elected to participate in the Intercollegiate Athletic
                Program ("Program”), from August 1, {% now "Y" %} –
                June 1, {{next_year}}.
                In consideration for being permitted by the Carthage
                College to participate in the Program, I hereby acknowledge
                and agree to the following:
            </p><p>
                <strong>ELECTIVE PARTICIPATION:</strong>
                I acknowledge that my participation is elective and
                voluntary.
            </p><p>
                <strong>RULES AND REQUIREMENTS:</strong>
                I agree to conduct myself in accordance with Carthage
                College policies and procedures, including their athletic
                department and athletic training department; and National
                Collegiate Athletic Association.  I further agree to abide
                by all the rules and requirements of the Program.  I
                acknowledge that Carthage College has the right to
                terminate my participation in the Program if it is
                determined that my conduct is detrimental to the best
                interests of the group, my conduct violates any rule of the
                Program, or for any other reason in Carthage College’s
                discretion, except for those occurrences due to Carthage
                College’s gross negligence or intentional acts.
            </p><p>
                <strong>INFORMED CONSENT:</strong>
                I have been informed of and I understand the various
                aspects of the Program.  I understand that as a Participant
                in the Program, I will be engaged in activities that may
                include, but not limited to, practicing, training,
                observing, traveling to and from, and competing in Program
                events, during which I could sustain serious personal
                injuries, illness, property damage, or even death as a
                consequence of not only Carthage College’s actions or
                inactions, but also the actions, inactions, negligence or
                fault of others, and that there may be other risks not
                known to me or not reasonably foreseeable at this time.
                I further understand and agree that any injury, illness,
                property damage, disability, or death that I may sustain
                by any means is my sole responsibility, except for those
                occurrences due to Carthage College’s gross negligence or
                intentional acts.
            </p><p>
                <strong>RELEASE AND WAIVER OF LIABILITY:</strong>
                I, on behalf of myself, my personal representatives, heirs,
                executors, administrators, agents, and assigns,
                <strong>
                    HEREBY RELEASE, WAIVE, DISCHARGE, AND COVENANT NOT
                    TO SUE
                </strong>
                Carthage College, its governing board, directors, officers,
                employees, coaches, athletic trainers, agents, volunteers
                and any students (hereinafter referred to as "Releasees")
                for any and all liability, including any and all claims,
                demands, causes of action (known or unknown), suits, or
                judgments of any and every kind (including attorneys'
                fees),arising from any injury, property damage or death
                that I may suffer while playing, practicing or in any
                other way involved in my participation in the Program,
                <strong>
                    REGARDLESS OF WHETHER THE INJURY, DAMAGE OR DEATH
                    IS CAUSED BY THE RELEASEES, UNLESS THE INJURY DAMAGE
                    OR DEATH IS CAUSED BY THE RELEASEES’ GROSS NEGLIGENCE
                    OR INTENTIONAL ACTS, AND REGARDLESS OF WHETHER THE
                    INJURY DAMAGE OR DEATH OCCURS WHILE IN, ON, UPON, OR
                    IN TRANSIT TO OR FROM THE PREMISES WHERE THE ACTIVITY,
                    OR ANY ADJUNCT TO THE ACTIVITY, OCCURS OR IS BEING
                    CONDUCTED.
                </strong>
                I further agree that the Releasees are not in any way
                responsible for any injury or damage that I sustain as a
                result of my own negligent acts.
            </p><p>
                <strong>
                    ASSUMPTION OF RISK:
                </strong>
                I understand that there are potential dangers incidental
                to my participation in Program activities, including but
                not limited to, practicing, training, observing, traveling
                to and from, and competing in Program events.  I
                understand that there are potential dangers which may
                expose me to the risk of personal injuries, property
                damage, or even death.  I am aware that the Program can
                involve vigorous activity involving severe cardio-vascular
                stress and/or violent physical contact.  I understand that
                Intercollegiate Athletic activities involve certain risks,
                including but not limited to, death, serious neck and
                spinal injuries resulting in complete or partial paralysis,
                brain damages, and serious injury to virtually all bones,
                joints, muscles, and internal organs, and that protective
                equipment may be inadequate to prevent serious injury.
                I further understand that Intercollegiate Athletics involve
                a particularly high risk of knee, head, and neck injury.
                In addition, I understand that participation in the Program
                involves activities incidental thereto, including, but not
                limited to, travel to and from the site of the Program,
                participation at sites that may be remote from available
                medical assistance, and the possible reckless conduct of
                other participants.  Furthermore, I understand that
                potential risks may arise due the following:  travel to and
                from competitions and practices via private vehicle, common
                carrier, and/or Carthage College owned vehicle, weather
                conditions, facility conditions, equipment conditions,
                negligent first aid operations or procedures of Releasees,
                and other risks that are unknown at this time.
                <strong>
                    I KNOWINGLY AND VOLUNTARILY ASSUME ALL SUCH RISKS,
                    BOTH KNOWN AND UNKNOWN, EVEN IF ARISING FROM THE ACTS
                    IF THE RELEASEES, UNLESS THEY ARISE FROM THE RELEASEES’
                    INTENTIONAL OR GROSSLY NEGLIGENT ACTS,
                </strong>
                and assume full responsibility for my participation in the
                Program.
            </p><p>
                <strong>
                    INDEMNITY:
                </strong>
                I, on behalf of myself, my personal representatives, heirs,
                executors, administrators, agents, and assigns, agree to
                hold harmless, defend and indemnify the Releasees from any
                and all liability, including any and all claims, demands,
                causes of action (known or unknown), suits, or judgments
                of any and every kind (including attorneys' fees), arising
                from any injury, property damage or death that I may suffer
                as a result of my participation in the Program,
                <strong>
                    REGARDLESS OF WHETHER THE INJURY, DAMAGE OR DEATH IS
                    CAUSED BY THE RELEASEES OR OTHERWISE, UNLESS THE INJURY
                    DAMAGE OR DEATH IS CAUSED BY THE RELEASEES’ GROSS
                    NEGLIGENCE OR INTENTIONAL ACTS. PERSONAL MEDICAL
                    INSURANCE.
                </strong>
                I agree to purchase and maintain during the term of the
                Program personal medical insurance.  I further acknowledge
                that I am responsible for the cost of any and all medical
                and health services I may require not directly related
                to my participation in the Program.
            </p><p>
                <strong>
                    CERTIFICATION OF FITNESS TO PARTICIPATE:
                </strong>
                I attest that I am physically and mentally fit to
                participate in Intercollegiate Athletics and that I do not
                have any medical record of history that could be aggravated
                by my participation in my particular sport. Further I agree
                to abide by Carthage College’s requirements, rules and
                decisions for physicals and medical exams for student
                athletes.
            </p><p>
                <strong>
                    MEDICAL CONSENT:
                </strong>
                I understand and agree that Releasees may not have medical
                personnel available at the location of the Program.  In the
                event of any medical emergency, I authorize and consent to
                any x-ray examination, anesthetic, medical, dental or
                surgical diagnosis or treatment, and hospital care that
                Carthage College personnel deem necessary for my safety and
                protection. I understand and agree that Releasees assume no
                responsibility for any injury or damage which might arise
                out of or in connection with such authorized emergency
                medical treatment.
            </p><p>
                <strong>
                    CHOICE OF LAW:
                </strong>
                I hereby agree that this Agreement shall be construed in
                accordance with the laws of the State of Wisconsin.
            </p><p>
                I understand that I may seek legal counsel of my own
                choosing to fully explain any terms of this Agreement
                to me before I sign it.
            </p><p>
                <strong>
                    SEVERABILITY:
                </strong>
                If any term or provision of this Agreement shall be held
                illegal, unenforceable, or in conflict with any law
                governing this Agreement the validity of the remaining
                portions shall not be affected thereby.
            </p>
            {% if form.errors %}
                <p class="error">
                    Please check the box below.
                </p>
            {% endif %}
            <p>
                <input id="id_agree" type="checkbox" name="agree" value="1" />
                <label for="id_agree" style="display:inline;">
                I hereby acknowledge that I have read, understand and will
                abide by each of the terms and conditions of this
                Agreement.
                </label>
            </p>
            {% include "form_submit.inc.html" %}
        </div>
    </form>
</div>
{% endblock %}
