{% extends "home.html" %}
{% block title %}
    Intercollegiate Athletic Program
    Release And Waiver Of Liability, Assumption Of Risk
    And Indemnity Agreement &mdash; Health and Counseling &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
$(function() {
    $('#risk_waive').submit(function() {
        if ($('#agree').is(':checked')) {
            // disable submit
            $(this).children('input[type=submit]').attr('disabled', 'disabled');
            return true;
        } else {
            alert('You must agree by checking the checkbox.');
            return false;
        }
    });

});
</script>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>
        Intercollegiate Athletic Program
        Release And Waiver Of Liability, Assumption Of Risk
        And Indemnity Agreement
    </h2>
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="risk_waive">
        {% csrf_token %}
        {% include "medical_history/waivers/athlete_risk.inc.html" %}
        {% if not request.session.staff %}
        {% include "form_submit.inc.html" %}
        {% endif %}
    </form>
</div>
{% endblock %}
