{% extends "home.html" %}
{% block title %}
    CCIW Injury and Illness Reporting Acknowledgement Form &mdash;
    Health and Counseling &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
$(function() {
    $('#reporting-waiver').submit(function() {
        if ($('#agree').is(':checked')) {
            // disable submit
            $(this).children('input[type=submit]').attr('disabled', 'disabled');
            return true;
        } else {
            alert('You must agree by checking the checkbox.');
            return false;
        }
    });

});
</script>
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>
        CCIW Injury and Illness Reporting <br />
        Acknowledgement Form
    </h2>
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="reporting-waiver">
        {% csrf_token %}
        {% include "medical_history/waivers/athlete_reporting.inc.html" %}
        {% if not user.is_staff %}
        {% include "form_submit.inc.html" %}
        {% endif %}
    </form>
</div>
{% endblock %}
