{% extends "home.html" %}
{% block title %}
    Sickle Cell Trait Testing
    Form &mdash; Health and Counseling &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    {% include "medical_history/waivers/athlete_sicklecell.inc.js" %}
{% endblock %}
{% block content %}
<div class="forms-container">
    <h2>
        Carthage College Athletic Training &mdash;<br />
        Sickle Cell Trait Testing
    </h2>
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="sickle_cell">
        {% csrf_token %}
        {% include "medical_history/waivers/athlete_sicklecell.inc.html" %}
        <div class="large-12 cf">
            {% if not user.is_staff %}
            {% include "form_submit.inc.html" %}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
