{% load livewhale_api %}
<div class="large-12 col-lg-12">
    {% if form.errors %}
    <p class="error">
        The last two checkboxes are required.
    </p>
    {% endif %}
    {% get_lw_content as preable blurbs 2022 %}
    {{preamble.body|safe}}
    <h4>
        By checking the boxes below you agree to the release
        of your (PHI) in each category:
    </h4>
    <div class="large-1 col-lg-1">
        <input id="news_media" type="checkbox" name="news_media"
        {% if student.news_media %}
            checked="checked" value="0"
        {% else %}
            value="1"
        {% endif %}
        data-table="cc_athlete_privacy_waiver" class="set-type" />
    </div>
    <div class="large-11 col-lg-11">
        <label for="privacy_news_media">
            {% get_lw_content as news_media blurbs 2023 %}
            {{news_media.body|safe}}
        </label>
    </div>
    <div class="large-1 col-lg-1">
        <input id="parents_guardians" type="checkbox" name="parents_guardians"
        {% if student.parents_guardians %}
            checked="checked" value="0"
        {% else %}
            value="1"
        {% endif %}
        data-table="cc_athlete_privacy_waiver" class="set-type" />
    </div>
    <div class="large-11 col-lg-11">
        <label for="privacy_parents_guardians">
            {% get_lw_content as guardians blurbs 2024 %}
            {{guardians.body|safe}}
        </label>
    </div>
    <div class="large-1 col-lg-1">
        <input id="disclose_records" type="checkbox" name="disclose_records"
        {% if student.disclose_records %}
            checked="checked" value="0"
        {% else %}
            value="1"
        {% endif %}
        data-table="cc_athlete_privacy_waiver" class="set-type" />
    </div>
    <div class="large-11 col-lg-11">
        <label for="privacy_disclose_records">
            {% get_lw_content as records blurbs 2025 %}
            {{records.body|safe}}
        </label>
    </div>
    <div class="large-12 col-lg-12">
        {% get_lw_content as closing blurbs 2026 %}
        {{closing.body|safe}}
    </div>
</div>
