{% load livewhale_api %}
{% get_lw_content as waiver blurbs 2021 %}
{{waiver.body|safe}}
{% if form.errors %}
    <p class="error">
        Please check the box below.
    </p>
{% endif %}
<p>
  <strong class="red">
    Click the link below to watch a mandatory NCAA video.
    You cannot submit this form until you watch the video.
  </strong>
</p>
<h4>
  <a href="https://www.youtube.com/watch?v=T3FLRDxbLXg" class="modal-video">
    Concussion Reporting Video
  </a>
</h4>
<p>
    <input id="agree" type="checkbox" name="agree"
    {% if student.cc_athlete_reporting_waiver %}
        checked="checked" value="0"
    {% else %}
        value="1"
    {% endif %}
    data-pk="{{student.reporting_id|default:''}}"
    data-table="cc_athlete_reporting_waiver" class="set-val" />
    <label for="id_agree" style="display:inline;">
    I have read the above and agree that the statements are
    accurate.
    </label>
</p>
