{% load livewhale_api %}
{% get_lw_content as menihep blurbs 2012 %}
{{menihep.body|safe}}
{% get_lw_content as meni blurbs 2027 %}
{{meni.body|safe}}
{% if form.errors %}
    <p class="error">
        Please check the box below.
    </p>
{% endif %}
<p>
    <input id="agree" type="checkbox" name="agree"
    {% if student.cc_student_meni_waiver %}
        checked="checked" value="0"
    {% else %}
        value="1"
    {% endif %}
    data-pk="{{student.menid|default:''}}"
    data-table="cc_student_meni_waiver" class="set-val" />
    <label for="id_agree" style="display:inline;">
    I have received and read (or had explained to me) the
    information regarding meningococcal disease and hepatitis B.
    </label>
</p>
