{% extends "home.html" %}
{% block title %}
Important Information about Meningitis and Hepatitis B
{% endblock %}
{% block javascript %}
{{block.super}}
<script type="text/javascript" charset="utf-8">
$(function() {
    $('#meni_waive').submit(function() {
        if ($('#id_agree').is(':checked')) {
            return true;
        } else {
            alert('You must agree by checking the checkbox.');
            return false;
        }
    });

});
</script>
{% endblock %}
{% block content %}
<div class="large-12 forms-container">
    <h2>
        Important Information about Meningitis<br /> and Hepatitis B
    </h2>
    {% include "includes/errors_text.html" %}
    <form method="post" action="." class="form" id="meni_waive">{% csrf_token %}
        {% include "medical_history/waivers/student_meni.inc.html" %}
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
