{% extends "home.html" %}
{% load livewhale_api %}
{% block content %}
<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    {% if user.is_anonymous %}
      <p><a class="btn btn-primary btn-lg" href="{% url 'django_saml:login' %}">Sign in</a></p>
      <p>
        <strong class="purple">NOTE:</strong> You will be sent to OneLogin to authenticate
        and then redirected back here after authentication.
      </p>
    {% else %}
      <h2>You are already logged in</h2>
      <p>Where do  you want to go?</p>
      <ul>
        <li>
          <a href="{% url 'home' %}">
            Forms Home
          </a>
        </li>
        <li>
          <a href="{% url 'dashboard_home' %}">
            Dashboard
          </a>
        </li>
      </ul>
    {% endif %}
    <div id="login-downloadable-forms">
    {% get_lw_content as files blurbs 2455 %}
    {{files.body|safe}}
    </div>
  </div>
</div>
{% endblock %}
