{% extends "home.html" %}
{% load livewhale_api %}
{% block content %}
<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    {% if user.is_anonymous %}
        {% if form.errors or errors %}
        <p class="bg-warning p-4">
            Please enter a correct username and password.
            Both fields are case-sensitive.
            <br /><br />
            Do not include @carthage.edu
            as part of your username.
            <br /><br />
            NOTE: Your password expires every 6 months,
            so if you have not used your Carthage account in over
            6 months, you will have to
            <a href="https://password.carthage.edu/" target="_blank">
                change your password
            </a>.
        </p>
        {% endif %}
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          {% include "registration/login_form.inc.html" %}
          </div>
        </div>
    {% else %}
        <h2>You are already logged in</h2>
        <p>Where do  you want to go?</p>
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    Forms Home
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard_home' %}">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="../logout/">
                    Do you want to log out and log in as a new user?
                    </a>
            </li>
        </ul>
    {% endif %}
    <div id="login-downloadable-forms">
    {% get_lw_content as files blurbs 2455 %}
    {{files.body|safe}}
    </div>
  </div>
</div>
{% endblock %}
