{% extends "dashboard/home.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% load static %}
{% block title %}Medical Forms &mdash; Carthage College{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//www.carthage.edu/static/vendor/bootstrap-select/bootstrap-select.min.css"
  rel="stylesheet" type="text/css">
<link href="/static/djsani/css/main.css" rel="stylesheet" type="text/css">
<!-- from portal head -->
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link href="/static/djmaidez/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_javascript %}
<!-- from portal head -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
  type="text/javascript"></script>
<!-- bootstrap -->
<script src="//www.carthage.edu/static/vendor/bootstrap-select/bootstrap-select.min.js"
  type="text/javascript"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
  type="text/javascript"></script>
<!-- ens -->
<script type="text/javascript" charset="utf-8">
function GetUserID() {
    return parseInt("{{request.user.id}}",10);
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
  type="text/javascript"></script>
<script src="/static/djsani/js/djmaidez.js" type="text/javascript"></script>
<script src="/static/djmaidez/js/validate.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    // build emergency contact modal
    $("a.ens-link").click(function() {
        makeDialog();
    });
    // set name/value pairs
    function setVal(name, value) {
        var $data = {
            "college_id": {{request.user.id}},
            "table": "cc_student_medical_manager",
            "pk": {{manager.id|default:0}},
            "name": name,
            "value": value
        };
        $.ajax({
            type: "POST",
            async: true,
            url:  "{{switch_earl}}",
            dataType: "html",
            data: $data,
            success: function(data) {
                if (data == "success") {
                    $.growlUI('Success', "Data saved.");
                } else {
                    $.growlUI('Error', data);
                }
            }
        });
    }
    {% if adult %}
      $('#adult_athlete').delay(200).slideDown(200);
      $('#adult_student').delay(200).slideDown(200);
      $('#minor').slideUp(200);
    {% endif %}
    $student = $('#student');
    $athlete = $('#athlete');
    {% if not manager.sports %}
      $athlete.slideUp(200);
      $student.delay(200).slideDown(200);
    {% endif %}
    {% if manager.sports %}
      $student.slideUp(200);
      $athlete.delay(200).slideDown(200);
    {% endif %}
});
</script>
{% endblock %}
{% block search-top %}{% endblock %}
{% block navbar-sidenav %}{% endblock %}
{% block navbar-header %}
<a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
  <img src="{% static 'img/clogo.png' %}" height="30" class="mr-2"></a>
<a class="navbar-brand"
  href="/life-at-carthage/health-wellness-safety/health-counseling/">Medical Forms</a>
{% endblock %}
{% block breadcrumb %}
<div class="row">
  <div class="col-8 col-xs-11 col-sm-11 col-md-8 col-lg-8 col-xl-8">
  {% block breadcrumb_current %}
  <h1>Medical Information Forms</h1>
  {% endblock %}
  </div>
  <div class="col-4 col-xs-1 col-sm-1 col-md-4 col-lg-4 col-xl-4">
    <a href="{% url 'home' %}" class="mr-sm-3 mr-lg-3">
      <i class="fa fa-home fa-4x green"></i></a>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid mb-4 ml-4">
    {% if student %}
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        {% get_lw_content as student_directions blurbs 2007 %}
        {{student_directions.body|safe}}
    </div>
    <div id="student" class="clear slider-container">
        <h2 class="clear">Online forms</h2>
        {% get_lw_content as progress blurbs 2478 %}
        {{progress.body|safe}}
        <table class="table table-bordered table-hover">
          <thead>
            <tr><th colspan="2">Online Forms and Waivers</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a class="ens-link" style="cursor: pointer; cursor: hand;">
                  Emergency contact information
                </a>
              </td>
              <td class="djsani">
                {% if manager.emergency_contact %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'insurance_form' 'student' %}">
                  Health insurance information
                </a>
              </td>
              <td>
                {% if manager.cc_student_health_insurance %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'medical_history_form' 'student' %}">
                  General Medical History
                </a>
              </td>
              <td>
                {% if manager.cc_student_medical_history %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% if student.residency_status == "Resident" %}
            <tr class="slider-container" id="adult_student">
              <td>
                {% if manager.cc_student_meni_waiver %}
                  Meningococcal meningitis/Hepatitis B response
                {% else %}
                  <a href="{% url 'waiver_form' 'student' 'meni' %}">
                    Meningococcal meningitis/Hepatitis B response
                  </a>
                {% endif %}
              </td>
              <td>
                {% if manager.cc_student_meni_waiver %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <h2>Printable forms for Campus Nurse</h2>
        <ul class="big-arrow-bullets">
          <li>
            <a href="//www.carthage.edu/live/files/3426-pdf">
              Immunization history
            </a>
          </li>
          <li>
            <a href="//www.carthage.edu/live/files/3440-pdf">
              Parent/Legal guardian consent form
            </a>
          </li>
        </ul>
    </div>
    <!-- /#student -->
    <div id="athlete" class="clear slider-container">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        {% get_lw_content as athlete_directions blurbs 2008 %}
        {{athlete_directions.body|safe}}
        {% if not adult %}
          {% get_lw_content as sicklecell blurbs 2226 %}
          {{sicklecell.body|safe}}
        {% endif %}
        {% if student.residency_status == "Resident" and not adult %}
          <h3>
            Meningococcal meningitis/Hepatitis B response and
            Parent/Legal Guardian Consent Form
          </h3>
          {% get_lw_content as menihep blurbs 2013 %}
          {{menihep.body|safe}}
        {% endif %}
        {% if not adult %}
          <h3>Assumption of Risk</h3>
          {% get_lw_content as risk blurbs 2010 %}
          {{risk.body|safe}}
        {% endif %}
        {% if not adult %}
          <h3>HIPAA and FERPA waiver</h3>
          {% get_lw_content as privacy blurbs 2960 %}
          {{privacy.body|safe}}
        {% endif %}
        <h2 class="clear">Online forms and Waivers</h2>
        {% get_lw_content as progress blurbs 2478 %}
        {{progress.body|safe}}
        {% if manager.sitrep %}
        {% get_lw_content as progress blurbs 2610 %}
        {{progress.body|safe}}
        {% endif %}
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <table class="table table-bordered table-hover">
          <thead>
            <tr><th colspan="2">Online Forms and Waivers</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a class="ens-link" style="cursor: pointer; cursor: hand;">
                  Emergency contact information
                </a>
              </td>
              <td class="djsani">
                {% if manager.emergency_contact %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'insurance_form' 'athlete' %}">
                  Health insurance information
                </a>
              </td>
              <td>
                {% if manager.cc_student_health_insurance %}
                  {% if student.primary_card_front_status and student.primary_card_back_status %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                {% if manager.cc_student_meni_waiver or not adult %}
                  Meningococcal meningitis/Hepatitis B response
                {% else %}
                  <a href="{% url 'waiver_form' 'student' 'meni' %}">
                    Meningococcal meningitis/Hepatitis B response
                  </a>
                {% endif %}
              </td>
              <td>
                {% if manager.cc_student_meni_waiver %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'medical_history_form' 'student' %}">
                  General Medical History
                </a>
              </td>
              <td>
                {% if manager.cc_student_medical_history %}
                  {% if manager.sitrep %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'medical_history_form' 'athlete' %}">
                  Athlete Medical History
                </a>
              </td>
              <td>
                {% if manager.cc_athlete_medical_history %}
                  {% if manager.sitrep_athlete %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              {% if manager.cc_athlete_privacy_waiver %}
              <td>HIPAA and FERPA waiver</td>
              <td>
                {% if manager.sitrep_athlete %}
                  <i class="fa fa-check green"></i>
                {% else %}
                  <i class="fa fa-check yellow"></i>
                {% endif %}
              </td>
              {% else %}
              <td>
                {% if adult %}
                  <a href="{% url 'waiver_form' 'athlete' 'privacy' %}">
                    HIPAA and FERPA waiver
                  </a>
                {% else %}
                  HIPAA and FERPA waiver
                {% endif %}
              </td>
              <td></td>
              {% endif %}
            </tr>
            <tr>
              {% if manager.cc_athlete_reporting_waiver %}
              <td>
                CCIW Injury and Illness Reporting Acknowledgement waiver
              </td>
              <td>
                {% if manager.sitrep_athlete %}
                  <i class="fa fa-check green"></i>
                {% else %}
                  <i class="fa fa-check yellow"></i>
                {% endif %}
              </td>
              {% else %}
              <td>
                <a href="{% url 'waiver_form' 'athlete' 'reporting' %}">
                  CCIW Injury and Illness Reporting Acknowledgement waiver
                </a>
              </td>
              <td></td>
              {% endif %}
            </tr>
            <tr>
              {% if manager.cc_athlete_risk_waiver %}
                <td>Assumption of risk waiver</td>
                <td>
                  {% if manager.sitrep_athlete %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                </td>
              {% else %}
                <td>
                  {% if adult %}
                    <a href="{% url 'waiver_form' 'athlete' 'risk' %}">
                      Assumption of risk waiver
                    </a>
                  {% else %}
                    Assumption of risk waiver
                  {% endif %}
                </td>
                <td></td>
              {% endif %}
            </tr>
            <tr>
              <td>
                {% if not adult %}
                  Sickle cell trait testing waiver
                {% else %}
                  {% if manager.cc_athlete_sicklecell_waiver %}
                  Sickle cell trait testing waiver
                  {% else %}
                  <a href="{% url 'waiver_form' 'athlete' 'sicklecell' %}">
                    Sickle cell trait testing waiver
                  </a>
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if manager.cc_athlete_sicklecell_waiver %}
                  {% if manager.sitrep_athlete %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered table-hover">
          <thead>
            <tr><th colspan="2">Uploaded Forms</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="{% url 'file_upload' 'physical-evaluation' %}">
                  Pre-Participation Physical Evaluation Upload Form
                  </a>
              </td>
              <td>
                {% if manager.physical_evaluation_1 and manager.physical_evaluation_2 %}
                  {% if student.physical_evaluation_status_1 and student.physical_evaluation_status_2 %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
              {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'file_upload' 'medical-consent-agreement' %}">
                  Medical Consent and Insurance Agreement Upload Form
                  </a>
              </td>
              <td>
                {% if manager.medical_consent_agreement %}
                  {% if student.medical_consent_agreement_status %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'insurance_form' 'athlete' %}#insurance-card">
                  Health Insurance Card
                </a>
              </td>
              <td>
                {% if manager.cc_student_health_insurance %}
                  {% if student.primary_card_front_status and student.primary_card_back_status %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <a href="{% url 'file_upload' 'covid19-vaccine-card' %}">
                  COVID-19 Vaccine Card
                </a>
              </td>
              <td>
                {% if manager.covid19_vaccine_card %}
                  {% if student.covid19_vaccine_card %}
                    <i class="fa fa-check green"></i>
                  {% else %}
                    <i class="fa fa-check yellow"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        {% get_lw_content as questions blurbs 2014 %}
        {{questions.body|safe}}
      </div>
    </div>
    <!-- /#athlete -->
    {% else %}
    <h2>We could not find your student record</h2>
    <ul>
      <li>
        If you are living on campus, have you completed the housing process?
      </li>
      <li>
        Have you completed your registration?
      </li>
    </ul>
    <p>
      Please contact the
      <a href="mailto:nwinkler@carthage.edu">Dean of Students Office</a>
      for questions about your on-campus housing status or the
      <a href="mailto:registrar@carthage.edu">Registrar's Office</a> for
      registration questions.
    </p>
    {% endif %}
</div>
{% if student %}
<div id="emergencyContactFiller">
  {% include "emergency/modal.html" %}
</div>
{% endif %}
{% endblock %}
{% block urchin %}{% endblock %}
