{% extends "blank.html" %}
{% block title %}Medical Forms &mdash; Carthage College{% endblock %}
{% block css %}
    {% include "includes/extra_form_style.html" %}
    <link href="//www.carthage.edu/assets/current/css/core/grid-960.css" rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/live/resource/css/styles/main/icons.css" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock %}
{% block extra_style %}
<link href="/static/djsani/css/djsani.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" charset="utf-8">
$(function() {
    // set student type: academic or athlete
    function setStudentType(stype) {
        var $data = {
            "student_type": stype,
            "cid": "{{request.session.cid}}"
        };
        $.ajax({
            type: "POST",
            async: true,
            url:  '{{sesh_earl}}',
            dataType: 'html',
            data: $data
        });
    }

    $types = $('.syncTypes');
    $student = $('#student');
    $athlete = $('#athlete');
    {% if request.session.stype == "student" %}
    $student.delay(200).slideDown(200);
    {% endif %}
    {% if request.session.stype == "athlete" %}
    $athlete.delay(200).slideDown(200);
    {% endif %}
    $types.change(function() {
        $this = $(this).val();
        if ($this == "student") {
            setStudentType($this);
            $athlete.slideUp(200);
            $student.delay(200).slideDown(200);
        }
        else if ($this == "athlete") {
            setStudentType($this);
            $student.slideUp(200);
            $athlete.delay(200).slideDown(200);
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Medical Information Forms</h1>
    <p>Do you plan to participate in NCAA Intercollegiate Athletics?</p>
    <form id="profile" class="form">
    <ul class="nobull">
        <li>
            <label for="id_syncTypes_no">
                <input id="id_syncTypes_no" type="radio" value="student"
                    class="syncTypes" name="syncTypes"
                    {% if request.session.stype == "student" %}
                        checked="checked"
                    {% endif %}/> No
            </label>
        </li>
        <li>
            <label for="id_syncTypes_yes">
                <input id="id_syncTypes_yes" type="radio" value="athlete"
                    class="syncTypes" name="syncTypes"
                    {% if request.session.stype == "athlete" %}
                        checked="checked"
                    {% endif %}/> Yes
            </label>
        </li>
    </ul>
    </form>
    <div class="span-20">
        <p>
            All incoming freshmen and transfer students are required
            to provide information regarding health insurance, emergency
            contact, medical history, and immunization history. In
            addition, if you will be 17 years of age or younger when
            you arrive to campus, your parent or legal guardian must
            complete the "Parental/Legal guardian consent" form.
        </p>
    </div>
    <div id="student" class="clear forms-container">
        <h2>Online forms</h2>
        <ul class="nobull">
            <li>
                <a href="{% url 'insurance_form' 'student' %}">
                    Health insurance information
                </a>
            </li>
            <li>
                <a href="{% url 'medical_history_form' 'student' %}">
                    Medical history
                </a>
            </li>
            <li>
                <a href="#">
                    Meningococcal meningitis/Hepatitis B response
                </a>
                <span style="color:#f00;font-weight:bold;">*</span>
            </li>
        </ul>
        <h2>Printable forms</h2>
        <ul class="nobull">
            <li>
                <a href="//www.carthage.edu/live/files/830-pdf">
                    Immunization history
                </a>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/831-pdf">
                    Parent/Legal guardian consent form
                </a>
            </li>
        </ul>
    </div>
    <div id="athlete" class="clear forms-container">
        <h2>Online forms</h2>
        <ul class="nobull">
            <li>
                <a href="{% url 'insurance_form' 'athlete' %}">
                    Health insurance information
                </a>
            </li>
            <li>
                <a href="{% url 'medical_history_form' 'student' %}">
                    Medical history for all students
                </a>
            </li>
            <li>
                <a href="{% url 'medical_history_form' 'athlete' %}">
                   Medical history for athletes only
                </a>
            </li>
            <li>
                <a href="{% url 'waiver_form' 'student' 'meni' %}">
                    Meningococcal meningitis/Hepatitis B response
                </a>
                <span style="color:#f00;font-weight:bold;">*</span>
            </li>
            <li>
                <a href="{% url 'waiver_form' 'athlete' 'sicklecell' %}">
                    Sickle cell waiver
                </a>
                <span style="color:#f00;font-weight:bold;">*</span>
            </li>
            <li>
                <a href="{% url 'waiver_form' 'athlete' 'risk' %}">
                    Assumption of risk waiver
                </a>
                <span style="color:#f00;font-weight:bold;">*</span>
            </li>
            <li>
                <a href="{% url 'waiver_form' 'athlete' 'privacy' %}">
                    HIPAA and FERPA waiver
                </a>
                <span style="color:#f00;font-weight:bold;">*</span>
            </li>
            <li>
                <a href="{% url 'waiver_form' 'athlete' 'reporting' %}">
                    CCIW Injury and Illness Reporting Acknowledgement waiver
                </a>
                <span style="color:#f00;font-weight:bold;">*</span>
            </li>
        </ul>
        <p>
            <span style="color:#f00;font-weight:bold;">*</span>
            If you are under 18 years of age, you must use the print forms
            below.
        </p>
        <h2>Printable forms</h2>
        <ul class="nobull">
            <li>
                <a href="//www.carthage.edu/live/files/816-pdf">
                    Instructions and checklist
                </a>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/793-pdf">
                    Athlete pre-participation physical
                </a>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/783-pdf">
                    Medical insurance agreement
                </a>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/802-pdf">
                    Primary Insurance Card Copy
                </a>
            </li>

            <li>
                <a href="//www.carthage.edu/live/files/792-pdf">
                    Athlete ADHD medical exception
                </a>
                <span style="margin-left:5px;">
                    (only if prescribed ADHD stimulant meds)
                </span>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/766-pdf">
                    Immunization history
                </a>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/831-pdf">
                    Parent/Legal guardian consent form
                </a>
            </li>
        </ul>
        <h3>Under 18 years of age print waivers</h3>
        <p>
        If you are under the age of 18, you must print the following forms,
        sign them, and hand deliver them to the athletic training staff
        during sport check-in.
        </p>
        <ul class="nobull">
            <li>
                <a href="//www.carthage.edu/live/files/794-pdf">
                    Sickle cell waiver
                </a>
                <ul>
                    <li>
                    Carthage College Athletic Training &mdash;
                    Sickle Cell Trait Testing.
                    </li>
                </ul>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/795-pdf">
                    Assumption of risk waiver
                </a>
                <ul>
                    <li>
                        Carthage college intercollegiate athletic program
                        Release and waiver of liability, assumption of risk
                        And indemnity agreement
                    </li>
                </ul>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/796-pdf">
                    HIPAA and FERPA waiver
                </a>
                <ul>
                    <li>
                        Student Athlete Authorization/Consent For Disclosure
                        of Protected Health Information (PHI).
                    </li>
                </ul>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/797-pdf">
                    CCIW injury and illness reporting acknowledgement waiver
                </a>
                <ul>
                    <li>
                        College Conference Of Illinois And Wisconsin waiver
                    </li>
                </ul>
            </li>
            <li>
                <a href="//www.carthage.edu/live/files/832-pdf">
                    Meningococcal meningitis/Hepatitis B response
                </a>
                <ul>
                    <li>
                        Important Information about Meningitis and Hepatitis B 
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block urchin %}{% endblock %}
