{% extends "home.html" %}
{% block title %}
    Login required &mdash; Health and Counseling &mdash; Carthage College
{% endblock %}
{% block javascript %}{% endblock %}
{% block content %}
<div class="large-12 medium-12 small-12" style="background-color:#FCFAEB;">
    <h1>Session expired</h1>
    <p>Your sessions has expired.</p>
    <p>
        {% if django_debug %}
        <a href="{% url 'home' %}?cid={{cid}}">Click here</a> to continue.
        {% else %}
        <a href="{% url 'login_required' %}">Click here</a> to continue.
        {% endif %}
    </p>
</div>
{% endblock %}
