{% extends "home.html" %}
{% block title %}Missing Student Profile &mdash; Carthage College{% endblock %}
{% block content %}
    <h2>We could not find your student record</h2>
    <ul>
      <li>
        If you are living on campus, have you completed the housing process?
      </li>
      <li>
        Have you completed your registration?
      </li>
    </ul>
    <p>
      Please contact the
      <a href="mailto:nwinkler@carthage.edu">Dean of Students Office</a>
      for questions about your on-campus housing status or the
      <a href="mailto:registrar@carthage.edu">Registrar's Office</a> for
      registration questions.
    </p>
{% endblock %}
