{% if data %}
    {% if data.opt_out %}
    <div class="alert alert-danger">
    <h3>Opt out</h3>
    {% else %}
    <div>
    {% endif %}
    <form style="float:left;">
        <input type="checkbox" id="opt_out" class="set-type"
            {% if data.opt_out %}
            value="0"
            checked="checked"
            {% else %}
            value="1"
            {% endif %}
            >
    </form>
    <p>
        &nbsp;&nbsp;
        I attest that I do <strong><u>NOT</u></strong>
        have health insurance.
    </p>
    </div>
    {% if not data.opt_out %}
    <ul style="margin-bottom: 15px;clear:both;" class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#primary_insurance">
            Primary
        </a>
    </li>
    <li{% if not data.secondary_company %} class="disabled"{% endif %}>
        <a data-toggle="tab" href="#secondary_insurance">
            Secondary
        </a>
    </li>
    </ul>
    <!-- /.nav-tabs -->
    <div class="tab-content">
    <div id="primary_insurance" class="tab-pane fade active in">
        <h3>Primary Health Insurance</h3>
        <dl class="dl-horizontal">
            <dt>Policy holder</dt>
            <dd>
                <a href="#" id="primary_policy_holder" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy holder" class="jeditable">
                {{data.primary_policy_holder|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Date of birth</dt>
            <dd>
                <a href="#" id="primary_dob" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Date of birth" class="jeditable">
                {{data.primary_dob|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Company</dt>
            <dd>
                <a href="#" id="primary_company" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Company" class="jeditable">
                {{data.primary_company|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Phone</dt>
            <dd>
                <a href="#" id="primary_phone" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Phone" class="jeditable">
                {{data.primary_phone|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Member ID</dt>
            <dd>
                <a href="#" id="primary_member_id" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Member ID" class="jeditable">
                {{data.primary_member_id|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Group number</dt>
            <dd>
                <a href="#" id="primary_group_no" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Group number" class="jeditable">
                {{data.primary_group_no|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Policy type</dt>
            <dd>
                <a href="#" id="primary_policy_type" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy type" class="jeditable">
                {{data.primary_policy_type|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Policy state</dt>
            <dd>
                <a href="#" id="primary_policy_state" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy state" class="jeditable">
                {{data.primary_policy_state|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Address</dt>
            <dd>
                <a href="#" id="primary_policy_address" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy address" class="jeditable">
                {{data.primary_policy_address|default_if_none:"&nbsp;"}}
                </a>
            </dd>
        </dl>
    </div>
    <div id="secondary_insurance" class="tab-pane fade" style="clear:both;">
        <h3>Secondary Health Insurance</h3>
        <dl class="dl-horizontal">
            <dt>Policy holder</dt>
            <dd>
                <a href="#" id="secondary_policy_holder" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy holder" class="jeditable">
                {{data.secondary_policy_holder|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Date of birth</dt>
            <dd>
                <a href="#" id="secondary_dob" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Date of birth" class="jeditable">
                {{data.secondary_dob|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Company</dt>
            <dd>
                <a href="#" id="secondary_company" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Company" class="jeditable">
                {{data.secondary_company|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Phone</dt>
            <dd>
                <a href="#" id="secondary_phone" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Phone" class="jeditable">
                {{data.secondary_phone|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Member ID</dt>
            <dd>
                <a href="#" id="secondary_member_id" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Member ID" class="jeditable">
                {{data.secondary_member_id|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Group number</dt>
            <dd>
                <a href="#" id="secondary_group_no" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Group number" class="jeditable">
                {{data.secondary_group_no|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Policy type</dt>
            <dd>
                <a href="#" id="secondary_policy_type" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy type" class="jeditable">
                {{data.secondary_policy_type|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Policy state</dt>
            <dd>
                <a href="#" id="secondary_policy_state" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy state" class="jeditable">
                {{data.secondary_policy_state|default_if_none:"&nbsp;"}}
                </a>
            </dd>
            <dt>Address</dt>
            <dd>
                <a href="#" id="secondary_policy_address" data-type="text"
                 data-pk="{{data.id}}" data-table="cc_student_health_insurance"
                 data-title="Policy address" class="jeditable">
                {{data.secondary_policy_address|default_if_none:"&nbsp;"}}
                </a>
            </dd>
        </dl>
    </div>
    </div>
    <!-- /.tab-content -->
    {% endif %}
{% else %}
<div class="alert alert-danger">
    <h3>
        The student has not completed this form.
    </h3>
</div>
{% endif %}
