{% if data %}
    <dl class="dl-horizontal">
    {% for f in form %}
        <dt class="widus">{{f.label}}</dt>
        <dd{% if f.value != 'No' %} class="alert alert-danger yes"{% endif %}>
            <a href="#" id="{{f.name}}" data-type="text" data-pk="{{data.id}}"
                 data-table="{% block medical_table %}cc_student_medical_history{% endblock %}"
                 data-title="{{f.label}}" class="jeditable">
                {{f.value|default_if_none:"&nbsp;"}}
            </a>
        </dd>
    {% endfor %}
    </dl>
{% else %}
<div class="alert alert-danger">
    <h3>The student has not completed this form.</h3>
</div>
{% endif %}
