{% if not data %}
  <div class="alert alert-danger">
    <h3>The student has not completed this form.</h3>
  </div>
{% else %}
  {% if data.primary_card_front %}
  <div class="float-right" id="insuranceCard">
    <input type="checkbox" class="set-val" name="primary_card_front_status"
      {% if data.primary_card_front_status == True %}
      value="0"
      checked="checked"
      {% else %}
      value="1"
      {% endif %}
      data-pk="{{data.id}}"
      data-table="cc_student_health_insurance">
    <a href="{{data.primary_card_front}}" class="rotate-photo">
      <i class="fa fa-repeat" aria-hidden="true"
      title="Rotate photo: Shift reload after"></i></a>
    <a href="{{media_url}}files/{{data.primary_card_front}}" target="_blank">
      <i class="fa fa-credit-card"></i> Front</a>
    <br>
    <input type="checkbox" class="set-val" name="primary_card_back_status"
      {% if data.primary_card_back_status == True %}
      value="0"
      checked="checked"
      {% else %}
      value="1"
      {% endif %}
      data-pk="{{data.id}}"
      data-table="cc_student_health_insurance">
    <a href="{{data.primary_card_back}}" class="rotate-photo">
      <i class="fa fa-repeat" aria-hidden="true"
      title="Rotate photo: Shift reload after"></i></a>
    <a href="{{media_url}}files/{{data.primary_card_back}}" target="_blank">
      <i class="fa fa-credit-card"></i> Back</a>
  </div>
  {% endif %}
  <h4>Date of submission</h4>
  <p>{{data.created_at}}</p>
  {% if data.opt_out == True %}
  <div class="alert alert-danger">
  {% else %}
  <div>
  {% endif %}
    <form id="optOutForm">
      <input type="checkbox" class="set-val" name="opt_out"
        style="float:left;"
        {% if data.opt_out == True %}
        value="0"
        checked="checked"
        {% else %}
        value="1"
        {% endif %}
        data-pk="{{data.id}}"
        data-table="cc_student_health_insurance">
    </form>
    <p>
      &nbsp;&nbsp;
      I attest that I do <strong><u>NOT</u></strong>
      have health insurance.
    </p>
  </div>
  <ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="primary-insurance-tab" data-toggle="tab"
        href="#primary-insurance" role="tab" aria-controls="primary-insurance"
        aria-selected="true">
        Primary
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="secondary-insurance-tab" data-toggle="tab"
        href="#secondary-insurance" role="tab"
        aria-controls="secondary-insurance" aria-selected="false">
        Secondary
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tertiary-insurance-tab" data-toggle="tab"
        href="#tertiary-insurance" role="tab" aria-controls="tertiary-insurance"
        aria-selected="false">
        Athlete
      </a>
    </li>
  </ul>
  <!-- /.nav-tabs -->
  <div class="tab-content">
    <div id="primary-insurance" class="tab-pane fade show active"
      role="tabpanel" aria-labelledby="primary-insurance">
      <h3>Primary Health Insurance</h3>
      <dl class="dl-horizontal">
        <dt style="font-weight:700;">Policy holder</dt>
        <dd>
          <a href="#" id="primary_policy_holder" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy holder" class="xeditable">
          {{data.primary_policy_holder|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Date of birth</dt>
        <dd>
          <a href="#" id="primary_dob" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Date of birth" class="xeditable">
          {{data.primary_dob|date:"m/d/Y"|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Company</dt>
        <dd>
          <a href="#" id="primary_company" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Company" class="xeditable">
          {{data.primary_company|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Phone</dt>
        <dd>
          <a href="#" id="primary_phone" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Phone" class="xeditable">
          {{data.primary_phone|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Member ID</dt>
        <dd>
          <a href="#" id="primary_member_id" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Member ID" class="xeditable">
          {{data.primary_member_id|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Group number</dt>
        <dd>
          <a href="#" id="primary_group_no" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Group number" class="xeditable">
          {{data.primary_group_no|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Policy type</dt>
        <dd>
          <a href="#" id="primary_policy_type" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy type" class="xeditable">
          {{data.primary_policy_type|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Policy state</dt>
        <dd>
          <a href="#" id="primary_policy_state" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy state" class="xeditable">
          {{data.primary_policy_state|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Address</dt>
        <dd>
          <a href="#" id="primary_policy_address" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy address" class="xeditable">
          {{data.primary_policy_address|default_if_none:""}}
          </a>
        </dd>
      </dl>
    </div>
    <div id="secondary-insurance" class="tab-pane fade" role="tabpanel"
      aria-labelledby="secondary-insurance">
      <h3>Secondary Health Insurance</h3>
      <dl class="dl-horizontal">
        <dt style="font-weight:700;">Policy holder</dt>
        <dd>
          <a href="#" id="secondary_policy_holder" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy holder" class="xeditable">
          {{data.secondary_policy_holder|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Date of birth</dt>
        <dd>
          <a href="#" id="secondary_dob" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Date of birth" class="xeditable">
          {{data.secondary_dob|date:"m/d/Y"|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Company</dt>
        <dd>
          <a href="#" id="secondary_company" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Company" class="xeditable">
          {{data.secondary_company|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Phone</dt>
        <dd>
          <a href="#" id="secondary_phone" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Phone" class="xeditable">
          {{data.secondary_phone|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Member ID</dt>
        <dd>
          <a href="#" id="secondary_member_id" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Member ID" class="xeditable">
          {{data.secondary_member_id|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Group number</dt>
        <dd>
          <a href="#" id="secondary_group_no" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Group number" class="xeditable">
          {{data.secondary_group_no|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Policy type</dt>
        <dd>
          <a href="#" id="secondary_policy_type" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy type" class="xeditable">
          {{data.secondary_policy_type|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Policy state</dt>
        <dd>
          <a href="#" id="secondary_policy_state" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy state" class="xeditable">
          {{data.secondary_policy_state|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Address</dt>
        <dd>
          <a href="#" id="secondary_policy_address" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy address" class="xeditable">
          {{data.secondary_policy_address|default_if_none:""}}
          </a>
        </dd>
      </dl>
    </div>
    <div id="tertiary-insurance" class="tab-pane fade" role="tabpanel"
      aria-labelledby="tertiary-insurance">
      <h3>Athlete Health Insurance</h3>
      <dl class="dl-horizontal">
        <dt style="font-weight:700;">Policy holder</dt>
        <dd>
          <a href="#" id="tertiary_policy_holder" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy holder" class="xeditable">
          {{data.tertiary_policy_holder|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Date of birth</dt>
        <dd>
          <a href="#" id="tertiary_dob" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Date of birth" class="xeditable">
            {{data.tertiary_dob|date:"m/d/Y"|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Company</dt>
        <dd>
          <a href="#" id="tertiary_company" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Company" class="xeditable">
          {{data.tertiary_company|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Phone</dt>
        <dd>
          <a href="#" id="tertiary_phone" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Phone" class="xeditable">
          {{data.tertiary_phone|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Member ID</dt>
        <dd>
          <a href="#" id="tertiary_member_id" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Member ID" class="xeditable">
          {{data.tertiary_member_id|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Group number</dt>
        <dd>
          <a href="#" id="tertiary_group_no" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Group number" class="xeditable">
          {{data.tertiary_group_no|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Policy type</dt>
        <dd>
          <a href="#" id="tertiary_policy_type" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy type" class="xeditable">
          {{data.tertiary_policy_type|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Policy state</dt>
        <dd>
          <a href="#" id="tertiary_policy_state" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy state" class="xeditable">
          {{data.tertiary_policy_state|default_if_none:""}}
          </a>
        </dd>
        <dt style="font-weight:700;">Address</dt>
        <dd>
          <a href="#" id="tertiary_policy_address" data-type="text"
           data-pk="{{data.id}}" data-table="cc_student_health_insurance"
           data-title="Policy address" class="xeditable">
          {{data.tertiary_policy_address|default_if_none:""}}
          </a>
        </dd>
      </dl>
    </div>
  </div>
  <!-- /.tab-content -->
  <div id="healthInsuranceEmailData">
    <h4>Date of submission</h4>
    <p>{{data.created_at}}</p>
    {% if data.primary_policy_holder %}
    <h3>Primary Health Insurance</h3>
    <dl class="dl-horizontal">
      <dt style="font-weight:700;">Policy holder</dt>
      <dd>{{data.primary_policy_holder|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Date of birth</dt>
      <dd>{{data.primary_dob|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Company</dt>
      <dd>{{data.primary_company|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Phone</dt>
      <dd>{{data.primary_phone|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Member ID</dt>
      <dd>{{data.primary_member_id|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Group number</dt>
      <dd>{{data.primary_group_no|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Policy type</dt>
      <dd>{{data.primary_policy_type|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Policy state</dt>
      <dd>{{data.primary_policy_state|default_if_none:"&nbsp;"}}</dd>
      <dt style="font-weight:700;">Address</dt>
      <dd>{{data.primary_policy_address|default_if_none:"&nbsp;"}}</dd>
    </dl>
    {% endif %}
    {% if data.secondary_policy_holder %}
    <h3>Secondary Health Insurance</h3>
    <dl class="dl-horizontal">
      <dt style="font-weight:700;">Policy holder</dt>
      <dd>{{data.secondary_policy_holder|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Date of birth</dt>
      <dd>{{data.secondary_dob|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Company</dt>
      <dd>{{data.secondary_company|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Phone</dt>
      <dd>{{data.secondary_phone|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Member ID</dt>
      <dd>{{data.secondary_member_id|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Group number</dt>
      <dd>{{data.secondary_group_no|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Policy type</dt>
      <dd>{{data.secondary_policy_type|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Policy state</dt>
      <dd>{{data.secondary_policy_state|default_if_none:"&nbsp;"}}</dd>
      <dt style="font-weight:700;">Address</dt>
      <dd>{{data.secondary_policy_address|default_if_none:"&nbsp;"}}</dd>
    </dl>
    {% endif %}
    {% if data.tertiary_policy_holder %}
    <h3>Athlete Health Insurance</h3>
    <dl class="dl-horizontal">
      <dt style="font-weight:700;">Policy holder</dt>
      <dd>{{data.tertiary_policy_holder|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Date of birth</dt>
      <dd>{{data.tertiary_dob|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Company</dt>
      <dd>{{data.tertiary_company|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Phone</dt>
      <dd>{{data.tertiary_phone|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Member ID</dt>
      <dd>{{data.tertiary_member_id|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Group number</dt>
      <dd>{{data.tertiary_group_no|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Policy type</dt>
      <dd>{{data.tertiary_policy_type|default_if_none:""}}</dd>
      <dt style="font-weight:700;">Policy state</dt>
      <dd>{{data.tertiary_policy_state|default_if_none:"&nbsp;"}}</dd>
      <dt style="font-weight:700;">Address</dt>
      <dd>{{data.tertiary_policy_address|default_if_none:"&nbsp;"}}</dd>
    </dl>
    {% endif %}
  </div>
{% endif %}
