{% extends "home.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block title %}
    Health Insurance Information &mdash;
    Health and Counseling &mdash;
    Carthage College
{% endblock %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet"
    href="//www.carthage.edu/static/vendor/jquery/plugins/fancybox/jquery.fancybox.css"
    type="text/css" media="screen" />
<style>
@media only screen and (max-width: 60em) {
    #page-content-wrap .content {
        width: 95%;
    }
}
#athletic-policy {display:none;}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validate/jquery.validate.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validate/additional-methods.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    $("#profile").validate();
    $(".fancybox").fancybox({
        maxWidth    : 800,
        maxHeight   : 800,
        fitToView   : false,
        width       : '70%',
        height      : '70%',
        autoSize    : false,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
    });
    {% ifusergroup MedicalStaff %}
    $('#athletic-policy').show();
    {% endifusergroup %}
    $('#id_opt_out').change(function() {
        if($(this).is(":checked")) {
            {% if manager.sports %}
              {% ifusergroup MedicalStaff %}
                $("#tertiary-insurance-header").text("Athlete Insurance");
                $('#insurance-card').slideUp(200);
                $('#tertiary-form').slideDown(200);
              {% else %}
                $.fancybox.open([{
                  href : '#athlete-warning'
                }]);
                $('#tertiary-box').slideUp(200);
              {% endifusergroup %}
            {% else %}
              $('#tertiary-form').slideUp(200);
              $('#tertiary-box').slideUp(200);
            {% endif %}
            $('#primary-form').slideUp(200);
            $('#secondary-box').slideUp(200);
            $('#secondary-form').slideUp(200);
        }else{
            {% if manager.sports %}
            $("#tertiary-insurance-header").text("Tertiary Insurance");
            {% endif %}
            $('#primary-form').slideDown(200);
            $('#insurance-card').slideDown(200);
            $('#secondary-box').slideDown(200);
            if ($("#id_second").is(":checked")) {
                $('#secondary-form').slideDown(200);
            }
            if ($("#id_third").is(":checked")) {
                $('#tertiary-form').slideDown(200);
                $('#tertiary-box').slideDown(200);
            }else{
              $('#tertiary-form').slideUp(200);
            }
        }
    });
    $('#athletic-policy-data').click(function() {
        $('#id_tertiary_policy_holder').val('{{student.firstname}} {{student.lastname}}');
        $('#id_tertiary_dob').val('{{student.birth_date|date:"m/d/Y"}}');
        $('#id_tertiary_company').val('US Fire Insurance Company');
        $('#id_tertiary_phone').val('877-497-4980');
        $('#id_tertiary_member_id').val('{{student.id}}');
        $('#id_tertiary_group_no').val('{{group_number}}');
        $('#id_tertiary_policy_address').val('NAHGA\nPO BOX 189\nBridgton, ME 04009');
        $('#id_tertiary_policy_type').val('PPO');
        $('#id_tertiary_policy_state').val('ME');
    });
    $('#id_second').change(function() {
        if($(this).is(":checked")) {
            $("[id^='id_secondary']").addClass("required");
            // state is not required unless policy type is "state"
            $('#id_secondary_policy_state').removeClass("required");
            $('#secondary-form').slideDown(200);
            $('#tertiary-box').slideDown(200);
        }else{
            $("[id^='id_secondary']").removeClass("error required");
            $("[id^='id_secondary']").val("");
            $('#secondary-form').slideUp(200);
            $('#tertiary-form').slideUp(200);
            $('#tertiary-box').slideUp(200);
            $("#id_third").prop("checked", false);
            $("[id^='id_tertiary']").val("");
            $("[id^='id_tertiary']").removeClass("error required");
        }
    });
    $('#id_third').change(function() {
        if($(this).is(":checked")) {
            $("[id^='id_tertiary']").addClass("required");
            // state is not required unless policy type is "state"
            $('#id_tertiary_policy_state').removeClass("required");
            $('#tertiary-form').slideDown(200);
            // jump to tertiary form
            window.location = $('#tertiary-form-anchor').attr('href');
        }else{
            $("[id^='id_tertiary']").removeClass("error required");
            $("[id^='id_tertiary']").val("");
            $('#tertiary-form').slideUp(200);
        }
    });
    $("[id$='policy_type']").change(function() {
        if( $(this).val()=="Gov" ) {
            $.fancybox.open([{
                href : '#athlete-warning'
            }]);
        }
    });
    // for updates to the form
    if ( $('#id_primary_policy_type').val() == "Gov") {
        $('#id_primary_policy_state').addClass("required");
    }
    if ( $('#id_secondary_policy_type').val() == "Gov") {
        $('#id_secondary_policy_state').addClass("required");
    }
    if ( $('#id_tertiary_policy_type').val() == "Gov") {
        $('#id_tertiary_policy_state').addClass("required");
    }
    $("select[id$='policy_type']").on('change', function() {
        if( $(this).val() == "Gov") {
            $(this).closest('li').next().find('select').addClass("required");
        } else {
            $(this).closest('li').next().find('select').removeClass("required");
        }
    });
    {% if oo == True %}
        {% if manager.sports %}
            {% if not tertiary %}
              {% ifusergroup MedicalStaff %}
              {% else %}
                $.fancybox.open([{
                    href : '#athlete-warning'
                }]);
               {% endifusergroup %}
            {% endif %}
            $("#tertiary-insurance-header").text("Athlete Insurance");
            $('#tertiary-form').slideDown(200);
            $('#secondary-box').slideUp(200);
            $('#secondary-form').slideUp(200);
        {% else %}
            $('#tertiary-form').slideUp(200);
            $('#insurance-card').slideUp(200);
        {% endif %}
        $('#primary-form').slideUp(200);
        $('#tertiary-box').slideUp(200);
        $("#id_opt_out").prop("checked", true);
    {% else %}
        {% if secondary == None %}
            $("#id_second").prop("checked", false);
            $("input[id^='id_secondary']").removeClass("error required");
            $('#secondary-form').slideUp(200);
            $('#tertiary-form').slideUp(200);
            // don't display 3rd if no 2nd
            $("#tertiary-box").slideUp(200);
        {% else %}
            $("#id_second").prop("checked", true);
            $("input[id^='id_secondary']").addClass("required");
            $('#secondary-form').slideDown(200);
            // display 3rd since we have a 2nd
            $("#tertiary-box").slideDown(200);
        {% endif %}
        {% if tertiary == None %}
            $("#id_third").prop("checked", false);
            $("input[id^='id_tertiary']").removeClass("error required");
            $('#tertiary-form').slideUp(200);
        {% else %}
            $("#id_third").prop("checked", true);
            $("input[id^='id_tertiary']").addClass("required");
            $('#tertiary-form').slideDown(200);
        {% endif %}
    {% endif %}
    {% if manager.sports %}
        {% if not form.primary_card_front.value %}
        $("#id_primary_card_front").addClass("required");
        {% endif %}
        {% if not form.primary_card_back.value %}
        $("#id_primary_card_back").addClass("required");
        {% endif %}
    {% else %}
        $('#insurance-card').slideUp(200);
    {% endif %}
    // stupid informix
    if ( $('#id_primary_dob').val() == "None") {
        $('#id_primary_dob').val("");
    }
    if ($('#id_secondary_dob').val() == "None") {
        $('#id_secondary_dob').val("");
    }
    if ($('#id_tertiary_dob').val() == "None") {
        $('#id_tertiary_dob').val("");
    }
    // disable submit button after users clicks it
    //$('form#profile').bind('submit', function (e) {
    //$('form#profile').on('submit', function (e) {
    //$('form#profile').submit(function (e) {
        //$('#id_submit').prop('disabled', true);
        //return true;
    //});
});
</script>
{% endblock %}
{% block left_nav %}{% endblock %}
{% block breadcrumb_current %}
  <h1>Health Insurance</h1>
{% endblock %}
{% block content %}
<div id="spotlight-wrap" class="container-fluid mb-4 ml-4">
  <div class="spotlight forms-container">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 clearfix">
      {% get_lw_content as insurance_intro blurbs 2456 %}
      {{insurance_intro.body|safe}}
      {% include "includes/errors_text.html" %}
      {% include "includes/required_text.html" %}
      <div style="border: 3px green solid;float:left;">
        <p style="margin:5px;">
          <strong style="margin:5px;">
            Click SUBMIT at the bottom of the page to complete this form
          </strong>
        </p>
      </div>
      {% ifusergroup MedicalStaff %}
      <div id="athletic-policy" style="margin-left:20px;float:right">
        <input type="button" id="athletic-policy-data"
          value="Load Athletic Policy Data" class="btn btn-primary">
      </div>
      {% endifusergroup %}
    </div>
    <form method="post" action="." type="actionForm" class="form"
       enctype="multipart/form-data" id="profile" style="width:100%">
      {% csrf_token %}
      <input id="id_update" type="hidden"
        value="{{update|default:''}}" name="update">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="id_opt_out">
          <input id="id_opt_out" type="checkbox" value="1" name="opt_out">
          <span style="color:#f00;">
            I attest that I do <strong><u>NOT</u></strong>
            have health insurance.
          </span>
        </label>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="secondary-box">
          <label for="id_second" style="display:block;">
            <input id="id_second" type="checkbox"
              value="1" name="second_policy">
            <span style="color:#800;">
              <strong><u>Secondary Policy</u></strong>
            </span>
          </label>
        </div>
        <div id="tertiary-box">
          <label for="id_third" style="display:block;">
            <input id="id_third" type="checkbox"
              value="1" name="third_policy">
            <span style="color:#800;">
              <strong><u>Athletes Policy</u></strong>
            </span>
            <a href="#tertiary-form" id="tertiary-form-anchor" style="display:none;">
              Athletes Form
            </a>
          </label>
        </div>
      </div>
      <div id="insurance-policies" class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="primary-form">
          <h2>
            Primary Insurance Policy
          </h2>
          <fieldset class="blockLabels">
            <ol>
              {% for field in form.visible_fields %}
                {% if field.name == "primary_card_front" %}
                  <li class="form-group ctrlHolder anchor" id="insurance-card">
                    <h3 class="help">
                      Photo or scan of your insurance card
                    </h3>
                    <div class="clear">
                      {% if form.primary_card_front.errors %}
                        <span class="error-message">
                          {{form.primary_card_front.errors|join:", "}}
                        </span>
                      {% endif %}
                      <strong class="fleft" style="width:35px;margin-right:5px;">
                        Front
                      </strong>
                      <input type="file" name="primary_card_front"
                        id="id_primary_card_front" class="fleft" style="width:300px">
                        {% if form.primary_card_front.value %}
                        <a href="{{media_url}}/{{form.primary_card_front.value}}" class="fright">
                          <i class="fa fa-credit-card"></i></a>
                        {% endif %}
                    </div>
                    <div class="clear">
                      {% if form.primary_card_back.errors %}
                        <span class="error-message">
                          {{form.primary_card_back.errors|join:", "}}
                        </span>
                      {% endif %}
                      <strong class="fleft" style="width:35px;margin-right:5px;">Back</strong>
                      <input type="file" name="primary_card_back"
                        id="id_primary_card_back" class="fleft" style="width:300px">
                        {% if form.primary_card_back.value %}
                          <a href="{{media_url}}/{{form.primary_card_back.value}}" class="fright">
                            <i class="fa fa-credit-card"></i></a>
                        {% endif %}
                    </div>
                  </li>
                  </ol></fieldset></div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="secondary-form">
                    <h2>Secondary Insurance Policy</h2>
                    <fieldset class="blockLabels">
                      <ol>
                {% else %}
                  {% if field.name != 'primary_card_back' and field.name != 'primary_card_front_status' and field.name != 'primary_card_back_status' %}
                    {% include "form_field.inc.html" %}
                  {% endif %}
                  {% if field.name == "secondary_policy_state" %}
                  </ol></fieldset></div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 anchor" id="tertiary-form">
                    <h2 id="tertiary-insurance-header">
                      Athletes Insurance Policy
                    </h2>
                    <fieldset class="blockLabels">
                      <ol>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ol>
          </fieldset>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
        {% if update %}
        <h3>
          I verify that this information is accurate.
        </h3>
        {% endif %}
        <div style="margin-left:45px;">
        {% include "form_submit.inc.html" %}
        </div>
        </div>
      </div>
    </form>
    <div id="athlete-warning" style="display:none;width:500px;">
      <h2>Primary Insurance Required</h2>
      <p>
        {% get_lw_content as insurance_required blurbs 2173 %}
        {{insurance_required.body|safe}}
      </p>
      <p>
        <a href="javascript:$.fancybox.close();">Close</a>
      </p>
    </div>
  </div> <!-- /.row -->
  </div> <!-- /.container -->
</div>
{% endblock %}
