{% extends "home.html" %}
{% block title %}
    Health Insurance Information &mdash;
    Health and Counseling &mdash;
    Carthage College
{% endblock %}
{% block javascript %}
<!--
    TODO: add django template logic to deal with
    values for opt_out and no secondary
-->
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validate/jquery.validate.min.js"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/validate/additional-methods.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    $('#id_opt_out').change(function() {
        if($(this).is(":checked")) {
            $('#insurance-policies').slideUp(200);
            $('#secondary-box').slideUp(200);
        }else{
            $('#insurance-policies').slideDown(200);
            $('#secondary-box').slideDown(200);
        }
    });
    $('#id_second').change(function() {
        if($(this).is(":checked")) {
            $("input[id^='id_secondary']").removeClass("error required");
            $('#secondary-form').slideUp(200);
        }else{
            $("input[id^='id_secondary']").addClass("required");
            $('#secondary-form').slideDown(200);
        }
    });
    $("#profile").validate();
    $("select[id$='policy_type']").on('change', function() {
        if( $(this).val() == "State Insurance") {
            $(this).closest('li').next().find('select').addClass("required");
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="span-21" style="background-color:#FCFAEB;">
    <h3 class="fright"><a href="{% url 'home' %}">Return to main menu</a></h3>
    <h1>Health Insurance Information</h1>
    <p>
        Carthage College requires every full-time undergraduate student to
        provide insurance and emergency contact information each academic
        year. By completing this form, you are providing your permission
        for Carthage College to release your insurance information to a
        healthcare provider in the event that treatment is needed off-campus.
    </p>
    <p>
        Fields marked with an asterisk
        <img src="//www.carthage.edu/static/forms/img/icons/red_asterisk.png"
        alt="asterisk" style="margin-bottom:-3px;" />
        are required.
    </p>
    {% if form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
    {% endif %}
    <form method="post" action="." type="actionForm" class="form" id="profile">
        {% csrf_token %}
        <div class="append-bottom">
            <label for="id_opt_out">
                <input id="id_opt_out" type="checkbox" value="1"
                    name="opt_out">
                <span style="color:#f00;">
                    I attest that I do <strong><u>NOT</u></strong>
                    have health insurance.
                </span>
            </label>
        </div>
        <div class="span-20">
            <div id="secondary-box" class="fright" style="width:350px;">
                <label for="id_second" style="display:block;">
                    <input id="id_second" type="checkbox" value="1"
                        name="second_policy">
                    <span style="color:#800;">
                        I do <strong><u>NOT</u></strong>
                        have a secondary policy.
                    </span>
                </label>
            </div>
        </div>
        <div id="insurance-policies">
            <div class="span-10" id="primary-form">
                <h2>Primary Insurance Policy</h2>
                <fieldset class="blockLabels">
                    <ol>
                        {% for field in form1 %}
                            {% include "form_field.inc.html" %}
                        {% endfor %}
                    </ol>
                </fieldset>
            </div>
            <div class="span-10 prepend-1" id="secondary-form"
                style="margin-left:10px;">
                <h2>Secondary Insurance Policy</h2>
                <fieldset class="blockLabels">
                    <ol>
                        {% for field in form2 %}
                            {% include "form_field.inc.html" %}
                        {% endfor %}
                    </ol>
                </fieldset>
            </div>
        </div>
        <div class="span-20 clear">
            {% include "form_submit.inc.html" %}
        </div>
    </form>
</div>
{% endblock %}
