{% extends "base.html" %}
{% block title %}Insurance Information Form Success &mdash; Health and Counseling &mdash; Carthage College{% endblock %}
{% block columns %}<link href="http://www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "left_nav.html" %}
{% endblock %}
{% block content %}
<div class="buffer">
    <h1>Insurance Information Form: Success</h1>
</div>
{% endblock %}
{% block sidebar %}
    {% include "side_bar.html" %}
{% endblock %}

