{% extends "djbootmin/base.html" %}
{% load static %}
{% block forms_style %}
<link href="https://app.carthage.edu/themes/shared/css/forms.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_style %}
<link href="https://app.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css">
<!-- print CSS -->
<link href="https://app.carthage.edu/themes/shared/css/print.css" rel="stylesheet" media="print">
<link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css" media="print">
{% endblock %}
{% block jquery %}
 <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
var $setVal = "{% url 'set_val' %}";
var $getStudents = "{% url 'get_students' %}";
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}{% endblock %}
{% block navbar-top-links %}{% endblock %}
{% block navbar-sidenav %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
