{% extends "dashboard/base.html" %}
{% load static %}
{% load cache %}
{% block title %}
Student Medical Information
{% endblock %}
{% block extra_style %}
{% cache 86400 extra_style %}
{{block.super}}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
  rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"
  rel="stylesheet" type="text/css">
<link href="//www.carthage.edu/static/vendor/x-editable/bootstrap4-editable/css/bootstrap-editable.css"
  rel="stylesheet" type="text/css">
<link href="/static/djsani/css/main.css"
  rel="stylesheet" type="text/css">
<link href="/static/djsani/css/dashboard.css"
  rel="stylesheet" type="text/css">
{% endcache %}
{% endblock %}
{% block extra_javascript %}
{% cache 86400 extra_javascript %}
{{block.super}}
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"
  type="text/javascript" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"
  type="text/javascript" language="javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  type="text/javascript" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"
  type="text/javascript" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/x-editable/bootstrap4-editable/js/bootstrap-editable.min.js"
  type="text/javascript" language="javascript"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
  type="text/javascript" language="javascript"></script>
<script src="//www.carthage.edu/static/vendor/js/spin.min.js"
  type="text/javascript" language="javascript"></script>
<script src="{% static 'js/main.js' %}"
  type="text/javascript" language="javascript"></script>
{% endcache %}
{% if not students and not student %}
<script>
$(function() {
  alert("\
     There was a problem fetching the student data.\n\
     Please reload the page or try your search again.\
  ");
});
</script>
{% endif %}
{% endblock %}
{% block navbar-header %}
{% cache 86400 navbar_header %}
<a href="{% url 'dashboard_home' %}" class="mr-sm-3 mr-lg-3">
  <img src="{% static 'img/clogo.png' %}" height="30" class="mr-2"></a>
<a class="navbar-brand" href="{% url 'dashboard_home' %}">Medical Forms Dashboard</a>
{% endcache %}
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    {% block search-top %}
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0 mr-sm-3 mr-lg-3" method="post"
        action="{% url 'search_advanced' %}">
        {% csrf_token %}
        <div class="input-group">
          <input class="form-control" name="search" placeholder="Last name or ID..." type="text">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </li>
    {% endblock search-top %}
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
                {% if user.is_anonymous %}
                <a href="{% url 'auth_login' %}">
                    <i class="fa fa-sign-in"></i> Sign In
                </a>
                {% else %}
                <a href="{% url 'auth_logout' %}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
                {% endif %}
            </li>
          <li><a href="{% url 'home' %}">Home</a></li>
          {% if staff or coach or user.is_superuser %}
          <li><a href="{% url 'dashboard_home' %}">Dashboard</a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
        </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Student Medical Information
                <small>
                    <span class="minor">Lavender rows are minors</span>
                    <i class="fa fa-star green"></i> = Athlete
                </small>
            </h2>
            <h6 class="red">NOTE: Hover over icons to see more information</h6>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form id="students-toggle" class="form-inline" method="post"
                        action="." role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            {% if staff %}
                            <label style="margin-right:10px;">
                                Only show
                            </label>
                            <select name="class" class="form-control">
                                <option value="'FF','FN','FR','UT','PF','PN'">
                                    Freshman and Transfers
                                </option>
                                <option value="'FR'">
                                    Freshman Returners
                                </option>
                                <option value="'SO','JR','SR','GD','UT'">
                                    Sophomores, Juniors, Seniors
                                </option>
                                <option value="'AT','FN','GR','ND','FN','FF','FR','SO','JR','SR','GD','PF','PN','UT'">
                                    All Current Students
                                </option>
                                <option value="" disabled>-----Status Reports-----</option>
                                <option value="1">
                                    Have completed all forms
                                </option>
                                <option value="0">
                                    Have not completed all forms
                                </option>
                                <option value="2">
                                    Have not started
                                </option>
                                <option value="4">
                                    Have government insurance
                                </option>
                                <option value="5">
                                    Have opted out of insurance
                                </option>
                                <option value="6">
                                    Have athlete insurance
                                </option>
                            </select>
                            <label style="margin:0 10px;">
                              Participating in
                            </label>
                            <select name="sport" class="form-control">
                            <option value="">----Select----</option>
                            {% for s in sports %}
                            <option value="{{s.id}}">
                            {{s.name}}
                            </option>
                            {% endfor %}
                            </select>
                            <input type="checkbox" name="print" value="print"
                              id="athletes-print" style="margin:0 10px;"> Print
                            <input type="checkbox" name="minors" value="minors"
                              id="athletes-minors" style="margin:0 10px;"> Minors
                            <input type="submit" name="submit" value="submit"
                              id="submit-toggle" style="margin:0 10px;"
                              class="btn btn-primary">
                            {% endif %}
                        </div>
                    </form>
                </div>
                <!-- /.panel-heading -->
                <pre style="display:none;">{{sql}}</pre>
                <div class="panel-body" id="students-data-panel">
                    {% include "dashboard/students_data.inc.html" %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock content %}
