<div class="student-contact">
    <h1 class="page-header">
    {{student.firstname}} {{student.lastname}} ({{student.sex}}) [{{student.id}}]
    {% if student.athlete %}<small>Athlete</small><br />{% endif %}
    <small>DOB: {{student.birth_date}} &mdash; Age: {{age}}</small>
    </h1>
    <address>
    {{student.addr_line1}} {{student.addr_line2}}<br>
    {{student.city}}, {{student.st}}<br>
    {{student.zip}} {{student.ctry}}<br>
    <abbr title="Phone">P:</abbr>
    {{student.phone}}<br>
    <abbr title="Phone">M:</abbr>
    {{student.mobile}}<br>
    {{student.ldap_name}}@carthage.edu<br>
    <strong>Residency Status: {{student.residency_status}}</strong>
    </address>
</div>
<div class="emergency_information">
    <h2>Emergency Contact Information</h2>
    {% if ens %}
        {% for e in ens %}
        <h4>Contact {{forloop.counter}}</h4>
        <ul>
          <li>{{e.line1}}</li>
          <li>{{e.phone}}</li>
        </ul>
        {% endfor %}
    {% else %}
      {% with ens=student.ens %}
        {% for e in ens %}
        <h4>Contact {{forloop.counter}}</h4>
        <ul>
          <li>{{e.line1}}</li>
          <li>{{e.phone}}</li>
        </ul>
        {% endfor %}
      {% endwith %}
    {% endif %}
</div>
<div class="cc_student_health_insurance">
    <h2>Health Insurance</h2>
    {% if shi %}
      {{shi}}
    {% else %}
      {{student.shi}}
    {% endif %}
</div>
