{% extends "blank.html" %}
{% block css %}
<link href="https://app.carthage.edu/static/vendor/bootstrap-admin4/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_style %}
<style>
.dl-horizontal dt.widus {
    overflow: auto;
    width: 300px;
    margin-right:9px;
}
.dl-horizontal dd.yes {
    margin-left: 0;
}
.nav-tabs{display:none;}
.tab-content > .tab-pane {
    display: block;
}
.fade {
    opacity: 1;
}
#healthInsuranceEmailData, #insuranceCard{display:none;}
</style>
{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block body_tag %} onload="window.print()"{% endblock %}
{% block content %}
{% include "dashboard/student_print_travel.inc.html"%}
{% endblock content %}
