{% extends "dashboard/home.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Student Sports{% endblock %}
{% block forms_style %}{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Student Sports</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-body">
        <form method="post" action="." autocomplete="false" class="form" role="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary btn-block" type="submit" value="Submit" id="submit-button">Save</button>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}
