{% extends "dashboard/home.html" %}
{% block title %}
  {% if student %}
    {{student.lastname}}, {{student.firstname}}
  {% else %}
    Not found:{{cid}}
  {% endif %}
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .dl-horizontal dt.widus { width: 300px; margin-right:9px; }
    .dl-horizontal dd.yes { margin-left: 0; }
    /* show the move cursor as the user moves the mouse over the panel header.*/
    #draggablePanelList .panel-heading { cursor: move; }
    li { list-style: none; }
    .editable-input textarea {width:375px !important; height:200px;}
    .editable-container.editable-popup { z-index: 10000; }
    #healthInsuranceEmailData, #StudentContactEmailHeader, #id_results_file {display:none;}
</style>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" language="javascript" src="//www.carthage.edu/static/vendor/x-editable/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" language="javascript" src="https://malsup.github.io/min/jquery.blockUI.min.js"></script>
<script type="text/javascript" language="javascript" src="//www.carthage.edu/static/vendor/js/spin.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0/js/bootstrap-select.min.js"></script>
<script>
    $(function() {
        $("body").toggleClass("sidenav-toggled");
        /* spinner */
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'search-results', // The CSS class to assign to spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50px', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };
        var target = document.getElementById("student-container");
        var spinner = new Spinner(opts).spin(target);
        spinner.stop(target);

        /* x-editable jquery plugin: pronounced 'sheditable' */
        $('.xeditable').editable({
            url: "{% url 'set_val' %}",
            mode: "inline",
            emptytext: "Click to edit",
            params: function (params) {
                params.table = $(this).attr("data-table");
                params.college_id = {{student.id|default:"0"}};
                params.pk = $(this).attr("data-pk");
                return params
            },
            success: function(response, newValue) {
                $.growlUI('Success', "Data saved.");
            }
        });

        /* function to update a name/value pair for models */
        $('.set-val').on('change', function() {
            var $dis = $(this);
            var $name = $dis.attr("name");
            dict = {
                'college_id':{{student.id|default:"0"}},
                'value': $dis.val(),
                'name': $name,
                'table': $(this).attr("data-table"),
                'pk': $(this).attr("data-pk")
            }
            $.ajax({
                type: "POST",
                url: "{% url 'set_val' %}",
                data: dict,
                cache: false,
                beforeSend: function(){
                    spinner.spin(target);
                },
                success: function(data) {
                    spinner.stop(target);
                    if (data == "success") {
                        $.growlUI('Success', "Data saved.");
                    } else {
                        $.growlUI('Error', data);
                    }
                    // reload by redirecting to self
                    window.location.href = window.location.href;
                },
                error: function(data) {
                    spinner.stop(target);
                    $.growlUI('Error', data);
                }
            });
        });

        $('#manager-switch').on('change', function() {
            $(this).parent('form').submit();
        });

        /* if waive, uncheck proof & vice-versa */
        $('#waive').on('change', function() {
            $('input').not(this).prop('checked', false);
        });
        $('#proof').on('change', function() {
            $('input').not(this).prop('checked', false);
        });
        /* if the user goes straight for the radios */
        $('input[name="results"]').change(
            function(){
                $('#proof').prop('checked', true);
                $('#waive').prop('checked', false);
            }
        );
        $("#emailInsuranceForm").submit(function(e) {
            subject = "[Carthage Medical Forms] Student Insurance: {{student.lastname}}, {{student.firstname}} :: DOB {{student.birth_date}}"
            content = $("#student-contact").html();
            content += $("#healthInsuranceEmailData").html();
            // ens
            content += $("#MIS1").html();
            content += $("#MIS2").html();
            content += $("#MIS3").html();
            content += $("#ENS").html();
            content += $("#ICE").html();
            content += $("#ICE2").html();
            // post data dictionary
            dict = {
                'content': content,
                'subject': subject,
                'mid': {{manager.id}},
                'email': $('input[name=destinationEmail]').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            }
            $.ajax({
                type: "POST",
                url: "{% url 'sendmail' %}",
                data: dict,
                cache: false,
                beforeSend: function(){
                    spinner.spin(target);
                },
                success: function(data){
                    spinner.stop(target);
                    $("#emailModal").modal('hide');
                    if (data == "success") {
                        $.growlUI('Success', "Data sent.");
                    } else {
                        $.growlUI('Fail', data);
                    }
                },
                error: function(){
                    spinner.stop(target);
                    $.growlUI('Error');
                    $("#emailModal").modal('hide');
                }
            });
            //Prevent Default action.
            e.preventDefault();
        });
        //$('.rotate-foto').on('click', function(){
        $('.rotate-photo').click(function(e){
          e.preventDefault();
          var $dis = $(this);
          var $html = $dis.html();
          $dis.html('<i class="fa fa-refresh fa-spin"></i>');
          var $phile = $dis.attr('href');
          $.ajax({
            type: "POST",
            url: "{% url 'rotate_photo' %}",
            data: {"phile":$phile},
            success: function(data) {
              $dis.html($html);
              if (data == "Success") {
                $.growlUI('Photo Rotated', "Shift-reload to see the results");
              } else {
                $.growlUI('Photo Rotation Failed', data);
              }
            }
          });

        });
    });
</script>
{% endblock %}
{% block navbar-top-links %}
<ul class="navbar-nav ml-auto">
  <li>
    <h4 style="display:inline;margin-right:20px;font-weight:700;color:#cbbde2;">
    {{manager.created_at|date:"Y F"}}
    </h4>
    <form action="." method="post" style="margin-right:8px; display:inline">
      {% csrf_token %}
      Year:
      <select name="manid" id="manager-switch">
        <option value="">---Select Profile Year---</option>
        {% for m in managers %}
        <option value="{{m.id}}"
          {% if m.id == manager.id %}selected="selected"{% endif %}>
          {{m.created_at|date:"Y F"}}
        </option>
        {% endfor %}
      </select>
    </form>
  </li>
  <li class="dropdown user-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="divider"></li>
      <li>
        {% if user.is_anonymous %}
        <a href="{% url 'auth_login' %}">
          <i class="fa fa-sign-in"></i> Sign In
        </a>
        {% else %}
        <a href="{% url 'auth_logout' %}">
          <i class="fa fa-sign-out"></i> Sign Out
        </a>
        {% endif %}
      </li>
    </ul>
  </li>
</ul>
{% endblock navbar-top-links %}
{% block content %}
<div id="student-container">
  {% if student %}
  <div class="row">
    <div class="col-lg-7">
      <h3>
        {{student.firstname}} {{student.lastname}}
        <small>
          ({{student.sex}}) &mdash;
          DOB: {{student.birth_date}}
          ({{age}}) [{{student.cl}}]
        </small>
      </h3>
      <form class="form mb-2">
        {% if student.athlete %}
        <div class="mb-1"><strong>Sports:</strong>
        {% for sport in sports %}
        {{sport.1}} [{{sport.4.year}}]{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}
        </div>
        {% endif %}
        <h5>
        <input type="checkbox" name="athlete" class="set-val"
          title="Is the student an athlete or not?"
          data-table="cc_student_medical_manager"
          data-pk="{{manager.id}}"
        {% if student.athlete %}
          value="0"
          checked="checked"
        {% else %}
          value="1"
        {% endif %}>
          Athlete |
        <input type="checkbox" name="sitrep"
          title="Health and Counseling Status"
          class="set-val" data-pk="{{manager.id}}"
          data-table="cc_student_medical_manager"
        {% if student.sitrep %}
          value="0"
          checked="checked"
        {% else %}
          value="1"
        {% endif %}>
        HCC Status |
        <input type="checkbox" name="sitrep_athlete"
          title="Athletics Training Status"
          class="set-val" data-pk="{{manager.id}}"
          data-table="cc_student_medical_manager"
        {% if student.sitrep_athlete %}
          value="0"
          checked="checked"
        {% else %}
          value="1"
        {% endif %}>
        AT Status |
        <input type="checkbox" name="cc_student_immunization"
          title="Immunization Status"
          class="set-val" data-pk="{{manager.id}}"
          data-table="cc_student_medical_manager"
        {% if student.cc_student_immunization %}
          value="0"
          checked="checked"
        {% else %}
          value="1"
        {% endif %}>
        Immunization status |
        <input type="checkbox" name="concussion_baseline" class="set-val"
          title="Has the concussion baseline been set?"
          data-table="cc_student_medical_manager"
          data-pk="{{manager.id}}"
        {% if student.concussion_baseline %}
          value="0"
          checked="checked"
        {% else %}
          value="1"
        {% endif %}>
        Concussion
        </h5>
      </form>
    </div>
    <!-- /.col-lg-7 -->
    <div class="col-lg-5">
      <div class="card mb-3 panel-success">
        <div class="card-body">
          <div class="row">
            <div class="col-12" id="student-contact" style="font-size:.9em;">
              <h4 id="StudentContactEmailHeader">Student Contact Information</h4>
              <div class="float-left" style="width:50%;">
              {{student.addr_line1}} {{student.addr_line2}}<br>
              {{student.city}}, {{student.st}}<br>
              {{student.zip}} {{student.ctry}}<br>
              <abbr title="Phone">Phone:</abbr>
              <a href="tel:{{student.phone}}">{{student.phone}}</a>
              <br>
              <abbr title="Phone">Mobile:</abbr>
              <a href="tel:{{student.mobile}}">{{student.mobile}}</a>
              </div>
              <div class="float-right" style="width:50%;">
              <a class="float-right" href="{% url 'student_detail_medium' cid 'print' 'travel' %}?manid={{manager.id}}"
                title="Print travel kit">
                <i class="fa fa-print fa-2x"></i></a>
              <strong>
                {{student.residency_status}}
              </strong><br>
              <a href="mailto:{{student.ldap_name}}@carthage.edu">
                {{student.ldap_name}}@carthage.edu
              </a><br>
              Signed in: {{student_user.last_login|date:"m/d/Y, fA"}}
              </div>
            </div>
            <!-- /.col-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-5 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="panel-title">
            <i class="fa fa-ambulance"></i>
            Emergency Contact Information
            <a href="{% url 'student_detail_medium' cid 'print' 'emergency' %}?manid={{manager.id}}"
              title="Print emergency contact">
              <i class="fa fa-print"></i>
            </a>
          </h5>
        </div>
        <div class="card-body">
          <div id="emergency_information">
            {% include "dashboard/panels/emergency_information.html" %}
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="panel-title">
            <i class="fa fa-comments-o"></i>
            Staff Notes and Comments
            <a href="{% url 'student_detail_medium' cid 'print' 'emergency' %}?manid={{manager.id}}"
              title="Print emergency contact">
              <i class="fa fa-print"></i>
            </a>
          </h5>
        </div>
        <div class="card-body">
          <div id="emergency_information">
            <div id="staff_notes">
              {% include "dashboard/panels/staff_notes.html" %}
            </div>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="panel-title">
            <i class="fa fa-plus-square"></i>
            Medical History
            <a href="{% url 'student_detail_medium' cid 'print' 'history' %}?manid={{manager.id}}"
              title="Print medical history">
              <i class="fa fa-print"></i>
            </a>
          </h5>
        </div>
        <div class="card-body">
          <div id="student-medical-history">
            <ul class="nav nav-tabs mb-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="cc_student_medical_history-tab" data-toggle="tab" href="#cc_student_medical_history" role="tab" aria-controls="cc_student_medical_history" aria-selected="true">
                  Student
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="cc_athlete_medical_history-tab" data-toggle="tab" href="#cc_athlete_medical_history" role="tab" aria-controls="cc_athlete_medical_history" aria-selected="false">
                  Athlete
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="athlete_files-tab" data-toggle="tab" href="#athlete_files" role="tab" aria-controls="athlete_files" aria-selected="false">
                  Files
                </a>
              </li>
            </ul>
            <!-- /.nav-tabs -->
            <div class="tab-content" id="medical-history-content">
              <div id="cc_student_medical_history" class="tab-pane fade show active" role="tabpanel" aria-labelledby="cc_student_medical_history">
                {{smh}}
              </div>
              <div id="cc_athlete_medical_history" class="tab-pane fade" ole="tabpanel" aria-labelledby="cc_athlete_medical_history">
                {{amh}}
              </div>
              <div id="athlete_files" class="tab-pane fade" role="tabpanel" aria-labelledby="athlete_files">
                <ul>
                  {% if manager.physical_evaluation_1 and manager.physical_evaluation_2 %}
                  <li>
                    <input type="checkbox" class="set-val" name="physical_evaluation_status_1"
                      {% if manager.physical_evaluation_status_1 == True %}
                      value="0"
                      checked="checked"
                      {% else %}
                      value="1"
                      {% endif %}
                      data-pk="{{manager.id}}"
                      data-table="cc_student_medical_manager">
                    <a href="{{manager.physical_evaluation_1}}" class="rotate-photo">
                      <i class="fa fa-repeat" aria-hidden="true"
                        title="Rotate photo: Shift reload after"></i></a>
                    <a href="{{media_url}}files/{{manager.physical_evaluation_1}}"
                      class="fleft" style="margin-left:10px;margin-top:3px;"
                      target="_blank" title="current file">
                      <i class="fa fa-stethoscope green"></i>
                      Physical evaluation page 1</a>
                    <br>
                    <input type="checkbox" class="set-val" name="physical_evaluation_status_2"
                      {% if manager.physical_evaluation_status_2 == True %}
                      value="0"
                      checked="checked"
                      {% else %}
                      value="1"
                      {% endif %}
                      data-pk="{{manager.id}}"
                      data-table="cc_student_medical_manager">
                    <a href="{{manager.physical_evaluation_2}}" class="rotate-photo">
                      <i class="fa fa-repeat" aria-hidden="true"
                        title="Rotate photo: Shift reload after"></i></a>
                    <a href="{{media_url}}files/{{manager.physical_evaluation_2}}"
                      class="fleft" style="margin-left:10px;margin-top:3px;"
                      target="_blank" title="current file">
                      <i class="fa fa-stethoscope green"></i>
                      Physical evaluation page 2</a>
                  </li>
                  {% endif %}
                  {% if student.medical_consent_agreement %}
                  <li>
                    <input type="checkbox" class="set-val" name="medical_consent_agreement_status"
                      {% if manager.medical_consent_agreement_status == True %}
                      value="0"
                      checked="checked"
                      {% else %}
                      value="1"
                      {% endif %}
                      data-pk="{{manager.id}}"
                      data-table="cc_student_medical_manager">
                    <a href="{{manager.medical_consent_agreement}}" class="rotate-photo">
                      <i class="fa fa-repeat" aria-hidden="true" title="Rotate photo: Shift reload after"></i></a>
                    <a href="{{media_url}}files/{{manager.medical_consent_agreement}}"
                      class="fleft" style="margin-left:10px;margin-top:3px;"
                      target="_blank" title="current file">
                      <i class="fa fa-umbrella green"></i>
                      Medical consent and insurance agreement</a>
                  </li>
                  {% endif %}
                  {% if student.results_file %}
                  <li>
                    <input type="checkbox" class="set-val" name="results_file_status"
                      {% if student.results_file_status == True %}
                      value="0" checked="checked"
                      {% else %}
                      value="1"
                      {% endif %}
                      data-pk="{{student.sicklecell_id}}"
                      data-table="cc_athlete_sicklecell_waiver">
                    <a href="{{student.results_file}}" class="rotate-photo">
                      <i class="fa fa-repeat" aria-hidden="true" title="Rotate photo: Shift reload after"></i></a>
                    <a href="{{media_url}}files/{{student.results_file}}"
                      class="fleft" style="margin-left:10px;margin-top:3px;"
                      target="_blank" title="current file">
                      <i class="fa fa-moon-o green"></i>
                      Sickle Cell Test Results</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <!-- /#athlete_files -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /#student-medical-history -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">




      <div class="card mb-3">
        <div class="card-header">
          <h5 class="panel-title">
            <i class="fa fa-umbrella"></i>
            Health Insurance
            <a href="{% url 'student_detail_medium' cid 'print' 'insurance' %}?manid={{manager.id}}"
              title="Print health insurance">
              <i class="fa fa-print"></i>
            </a>
            <a href="#" data-toggle="modal"
              data-target="#emailModal"
              title="Send information via email">
              <i class="fa fa-envelope"></i>
            </a>
            <a href="{% url 'insurance_form_dashboard' stype cid %}"
              title="Update insurance information">
              <i class="fa fa-edit"></i>
            </a>
          </h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div id="cc_student_health_insurance">
            {{shi}}
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="panel-title">
            <i class="fa fa-edit"></i>
            Waivers
            <a href="{% url 'student_detail_medium' cid 'print' 'waivers' %}?manid={{manager.id}}"
              title="Print waivers">
              <i class="fa fa-print"></i>
            </a>
          </h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div id="student-waivers">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="cc_student_meni_waiver-tab"
                  data-toggle="tab" href="#cc_student_meni_waiver" role="tab"
                  aria-controls="cc_student_meni_waiver" aria-selected="true">
                  Meni/Hep B</a>
              </li>
              <li class="nav-item"{% if not student.cc_athlete_privacy_waiver %}
                class="disabled"{% endif %}>
                <a class="nav-link" id="cc_athlete_privacy_waiver-tab"
                  data-toggle="tab" href="#cc_athlete_privacy_waiver" role="tab"
                  aria-controls="cc_athlete_privacy_waiver" aria-selected="false">
                  Privacy</a>
              </li>
              <li class="nav-item"{% if not student.cc_athlete_sicklecell_waiver %}
                class="disabled"{% endif %}>
                <a class="nav-link" id="cc_athlete_sicklecell_waiver-tab"
                  data-toggle="tab" href="#cc_athlete_sicklecell_waiver" role="tab"
                  aria-controls="cc_athlete_sicklecell_waiver" aria-selected="false">
                  Sickle Cell</a>
              </li>
              <li class="nav-item"{% if not student.cc_athlete_reporting_waiver %}
                class="disabled"{% endif %}>
                <a class="nav-link" id="cc_athlete_reporting_waiver-tab"
                  data-toggle="tab" href="#cc_athlete_reporting_waiver" role="tab"
                  aria-controls="cc_athlete_reporting_waiver" aria-selected="false">
                  Reporting</a>
              </li>
              <li class="nav-item"{% if not student.cc_athlete_risk_waiver %}
                class="disabled"{% endif %}>
                <a class="nav-link" id="cc_athlete_risk_waiver-tab"
                  data-toggle="tab" href="#cc_athlete_risk_waiver" role="tab"
                  aria-controls="cc_athlete_risk_waiver" aria-selected="false">
                  Risk</a>
              </li>
            </ul>
            <!-- /.nav-tabs -->
            <div class="tab-content" id="student-waivers-content">
                {% include "dashboard/waivers.inc.html" %}
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.student-waivers -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
  {% else %}
  <h1>No student found with the ID: {{cid}}</h1>
  {% endif %}
</div>
<!-- /#student-container -->
<!-- #emailModal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog"
  aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">
          Send insurance information via email
        </h4>
        <button type="button" class="close"
          data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form id="emailInsuranceForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="destinationEmail">Destination email address</label>
              <input type="email"  name="destinationEmail" class="form-control"
              id="destinationEmail" placeholder="Enter email address"/>
          </div>
          <button type="submit" class="btn btn-default">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /#emailModal -->
{% endblock content %}
