{% extends "dashboard/home.html" %}
{% block extra_style %}
{{block.super}}
<link href="/static/djsani/css/print.css"
    rel="stylesheet" type="text/css" media="print" />
<link href="//www.carthage.edu/static/vendor/bootstrap-select/bootstrap-select.min.css"
    rel="stylesheet" type="text/css" />
<style>
.dl-horizontal dt.widus {
    width: 300px;
    margin-right:9px;
}
.dl-horizontal dd.yes {
    margin-left: 0;
}
.bootstrap-select {
    width: 300px !important;
}

.center{text-align:center;}
.red {color:#800;}
.green {color:#008000;}
/* show the move cursor as the user moves the mouse over the panel header.*/
#draggablePanelList .panel-heading { cursor: move; }
</style>
{% endblock %}
{% block extra_javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//www.carthage.edu/static/vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script>
    $(function() {
        // set student types
        function setType(interruptor,field) {
            var $data = {
                "switch": interruptor,
                "field": field,
                "college_id":{{student.id}}
            };
            $.ajax({
                type: "POST",
                async: true,
                url:  '{{switch_earl}}',
                dataType: 'html',
                data: $data
            });
        }
        /* x-editable jquery plugin */
        $.fn.editable.defaults.mode = 'inline';
        $('.jeditable').editable({
            url: '{% url "dashboard_xeditable" %}',
            params: function (params) {
                params.table = $(this).attr("data-table");
                params.cid = {{student.id|default:"0"}};
                return params
            },
            success: function(response, newValue) {
                //console.log($(this).attr("data-table"));
            }
        });
        // multiple select picker
        $('#id_sports').selectpicker();
        $('#id_sports').on('change', function(){
            $this = $(this).val();
            setType($this,"sports");
        });
    });
    </script>
{% endblock %}
{% block content %}
<div id="student-container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">
                {{student.firstname}} {{student.lastname}}
                <small>DOB: {{student.birth_date}} &mdash; Age: {{age}}</small>
                {% if student.athlete %}
                    <form id="profile" class="form">
                        <select name="sports" class="selectpicker"
                            id="id_sports" size="5"
                            multiple="multiple"
                            title="Choose your sport(s)&hellip;">
                            {% for s in sports %}
                            {% if not forloop.first %}
                            <option
                            {% if not s.0 %}
                                disabled
                            {% else %} value="{{s.0}}"
                                {% if s.0 in my_sports %}
                                    selected="selected"
                                {% endif %}
                            {% endif %}
                            >
                            {{s.1}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                {% endif %}
            </h1>
            <h3>
                Immunization status:
                {% if student.cc_student_immunization %}
                    <i class="fa fa-check green">
                        <span></span>
                    </i>
                {% else %}
                    <input type="checkbox" name="immun" class="immun"
                        id="immun_{{student.id}}" value="{{student.id}}" />
                {% endif %}
            </h3>

        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-globe fa-4x"></i>
                        </div>
                        <div class="col-xs-8" id="student-contact">
                            <address>
                            {{student.addr_line1}} {{student.addr_line2}}<br>
                            {{student.city}}, {{student.st}}<br>
                            {{student.zip}} {{student.ctry}}<br>
                            <abbr title="Phone">P:</abbr>
                            {{student.phone}}<br>
                            <a href="mailto:{{student.ldap_name}}@carthage.edu">
                                {{student.ldap_name}}@carthage.edu
                            </a>
                            </address>
                        </div>
                        <div class="col-xs-1">
                            <a href="{% url 'student_detail_print' cid %}">
                                <i class="fa fa-print fa-4x"></i>
                            </a>
                        </div>
                    </div> <!-- /.row -->
                </div> <!--/.panel-heading -->
            </div> <!-- /.panel-success -->
        </div> <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row" class="draggablePanelList">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-ambulance"></i>
                        Emergency Contact Information
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="emergency_information">
                        <pre>{{ens}}</pre>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-umbrella"></i>
                        Health Insurance
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="cc_student_health_insurance">
                        {{shi}}
                    </div>
                    <!-- /.health-insurance -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row" class="draggablePanelList">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-plus-square"></i>
                        Medical History
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student-medical-history">
                        <ul style="margin-bottom: 15px;" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#cc_student_medical_history">
                                    Student
                                </a>
                            </li>
                            <li{#% if not student.athlete class="disabled" endif #}>
                                <a href="#cc_athlete_medical_history" data-toggle="tab">
                                    Athlete
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-tabs -->
                        <div class="tab-content" id="medical-history-content">
                            <div id="cc_student_medical_history" class="tab-pane fade active in">
                                {{smh}}
                            </div>
                            <div id="cc_athlete_medical_history" class="tab-pane fade">
                                {{amh}}
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.medical-history -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-edit"></i>
                        Waivers
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student-waivers">
                        <ul style="margin-bottom: 15px;" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab"
                                    href="#cc_student_meni_waiver">
                                    Meni/Hep B
                                </a>
                            </li>
                            <li{% if not student.cc_athlete_privacy_waiver %}
                                class="disabled"{% endif %}>
                                <a href="#cc_athlete_privacy_waiver"
                                    data-toggle="tab">
                                    Privacy
                                </a>
                            </li>
                            <li{% if not student.cc_athlete_sicklecell_waiver %}
                                class="disabled"{% endif %}>
                                <a href="#cc_athlete_sickle_waiver"
                                    data-toggle="tab">
                                    Sickle
                                </a>
                            </li>
                            <li{% if not student.cc_athlete_reporting_waiver %}
                                class="disabled"{% endif %}>
                                <a href="#cc_athlete_reporting_waiver"
                                    data-toggle="tab">
                                    Reporting
                                </a>
                            </li>
                            <li{% if not student.cc_athlete_risk_waiver %}
                                class="disabled"{% endif %}>
                                <a href="#cc_athlete_risk_waiver"
                                    data-toggle="tab">
                                    Risk
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-tabs -->
                        <div class="tab-content" id="student-waivers-content">
                            <div id="cc_student_meni_waiver" class="tab-pane fade active in">
                                {% include "medical_history/waivers/student_meni.inc.html" %}
                            </div>
                            <div id="cc_athlete_privacy_waiver" class="tab-pane fade">
                                {% include "medical_history/waivers/athlete_privacy.inc.html" %}
                            </div>
                            <div id="cc_athlete_sickle_waiver" class="tab-pane fade">
                                {% include "medical_history/waivers/athlete_sicklecell.inc.html" %}
                            </div>
                            <div id="cc_athlete_reporting_waiver" class="tab-pane fade">
                                {% include "medical_history/waivers/athlete_reporting.inc.html" %}
                            </div>
                            <div id="cc_athlete_risk_waiver" class="tab-pane fade">
                                {% include "medical_history/waivers/athlete_risk.inc.html" %}
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.medical-history -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div> <!-- /#student-container -->
{% endblock content %}
