<div class="table-responsive">
    <table class="dataTable display table-bordered table-hover" id="students-data">
        <thead>
            <tr>
                <th style="width:55px;">
                  <i class="fa fa-thumbs-up green" title="Student Status"></i>
                  <i class="fa fa-thumbs-up red" title="Athlete Status"></i>
                </th>
                <th>Name</th>
                <th class="hide">ID</th>
                <th class="hide">Email</th>
                <th>
                <i class="fa fa-ambulance green" title="Emergency contact"></i>
                </th>
                <th><i class="fa fa-bug green" title="Immunization"></i></th>
                <th title="Insurance"><i class="fa fa-umbrella green"></i></th>
                <th title="Meningococcal meningitis/Hepatitis B response">
                    Meni
                </th>
                <th title="General medical history">Gen hist</th>
                <th title="Athlete Medical History / Physical Evaluation / Medial consent and insurance agreement">Ath hist</th>
                <th title="Privacy waiver">Prvcy</th>
                <th title="Sickle cell waiver"><i class="fa fa-moon-o green"></i> cell</th>
                <th title="CCIW Injury and Illness Reporting Acknowledgement waiver">
                    Rprtng
                </th>
                <th title="Assumption of risk waiver">Risk</th>
            </tr>
        </thead>
        <tbody>
        {% for s in students %}
            <tr>
                <td class="{{s.adult}}" style="text-align:left;">
                  {% if s.sitrep %}
                      <i class="fa fa-check green"></i>
                  {% else %}
                    {% if s.manid %}
                    <input type="checkbox" name="sitrep"
                        data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                        data-table="cc_student_medical_manager" />
                    {% else %}
                    <i class="fa fa-times red"></i>
                    {% endif %}
                  {% endif %}
                  {% if s.sitrep_athlete %}
                      <i class="fa fa-check red"></i>
                  {% else %}
                    {% if s.athlete %}
                    <input type="checkbox" name="sitrep_athlete"
                        data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                        data-table="cc_student_medical_manager" />
                    {% endif %}
                  {% endif %}
                  <span style="float:right;"><!-- all one line required -->
                    <a href="#" data-field="staff_notes" data-type="textarea" data-cid="{{s.id}}" data-pk="{{s.manid}}" class="xeditable" data-table="cc_student_medical_manager"><i class="fa {% if s.staff_notes %}fa-commenting red{% else %} fa-commenting-o green{% endif %}" data-toggle="popover" data-placement="right" data-content="{{s.staff_notes|default_if_none:''}}"><span style="position:absolute;left:-10000px;">{{s.staff_notes|default_if_none:''}}</span></i></a>
                  </span>
                </td>
                <td class="{{s.adult}} student-name" style="text-align:left;">
                    <a href="{% url 'student_detail' s.id %}">
                        {{s.lastname}}, {{s.firstname}}
                    </a>
                    {% if s.athlete %}
                    <span style="float:right;margin-left:3px;">
                        <i class="fa fa-star green"></i>
                    </span>
                    {% endif %}
                </td>
                <th class="hide">{{s.id}}</th>
                <th class="hide">{{s.ldap_name}}@carthage.edu</th>
                <td class="{{s.adult}}">
                    {% if s.emergency_contact %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        <i class="fa fa-times red"></i>
                    {% endif %}
                </td>
                <td class="{{s.adult}}">
                    {% if s.cc_student_immunization %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        {% if s.manid %}
                        <input type="checkbox" name="cc_student_immunization"
                            data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                            data-table="cc_student_medical_manager" />
                        {% else %}
                            <i class="fa fa-times red"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="{{s.adult}}">
                    {% if s.cc_student_health_insurance %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        <i class="fa fa-times red"></i>
                    {% endif %}
                </td>
                {% if s.residency_status == "Resident" %}
                <td class="{{s.adult}}">
                    {% if s.cc_student_meni_waiver %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        {% if s.manid %}
                        <input type="checkbox" name="agree" value="1"
                            data-cid="{{s.id}}" data-pk=""
                            data-table="cc_student_meni_waiver">
                        {% else %}
                            <i class="fa fa-times red"></i>
                        {% endif %}
                    {% endif %}
                </td>
                {% else %}
                <td class="{{s.adult}}" style="background-color:#cacaca;">
                    <i class="fa fa-ban red"></i>
                </td>
                {% endif %}
                <td class="{{s.adult}}">
                    {% if s.cc_student_medical_history %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        <i class="fa fa-times red"></i>
                    {% endif %}
                </td>
                <td class="{{s.adult}}">
                    {% if s.cc_athlete_medical_history %}
                        <i class="fa fa-check" title="athlete medical history">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        <i class="fa fa-times red" title="athlete medical history"></i>
                    {% endif %}
                    {% if s.athlete %}
                        {% if s.physical_evaluation_1 and s.physical_evaluation_2 %}
                        / <i class="fa fa-stethoscope green" title="pre-participation physical"></i>
                        {% else %}
                        / <i class="fa fa-stethoscope grey" title="pre-participation physical"></i>
                        {% endif %}
                        {% if s.medical_consent_agreement %}
                        / <i class="fa fa-umbrella green" title="medical consent agreement"></i>
                        {% else %}
                        / <i class="fa fa-umbrella grey" title="medical consent agreement"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="{{s.adult}}">
                    {% if s.cc_athlete_privacy_waiver %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        <i class="fa fa-times red"></i>
                    {% endif %}
                </td>
                {% if s.waive or s.proof %}
                    <td class="{{s.adult}}" style="background-color:#cacaca;">
                        {% if s.results_file %}
                            <i class="fa fa-moon-o green"></i>
                        {% else %}
                            <i class="fa fa-check">
                        {% endif %}
                        <span style="display:none;">x</span>
                    </i>
                    {% if s.proof %}
                        <strong>/</strong>
                        {% if s.results == "Positive" %}
                            <i class="fa fa-plus"></i>
                        {% else %}
                            <i class="fa fa-minus"></i>
                        {% endif %}
                        {{s.updated_at|date:"Y"}}
                    {% endif %}
                {% else %}
                    <td class="{{s.adult}}">
                    <i class="fa fa-times red"></i>
                {% endif %}
                </td>
                <td class="{{s.adult}}">
                    {% if s.cc_athlete_reporting_waiver %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                        {% if s.manid %}
                        <input type="checkbox" name="agree" value="1"
                            data-cid="{{s.id}}" data-pk=""
                            data-table="cc_athlete_reporting_waiver">
                        {% else %}
                            <i class="fa fa-times red"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="{{s.adult}}">
                    {% if s.cc_athlete_risk_waiver %}
                        <i class="fa fa-check">
                            <span style="display:none;">x</span>
                        </i>
                    {% else %}
                       {% if s.manid %}
                        <input type="checkbox" name="agree" value="1"
                            data-cid="{{s.id}}" data-pk=""
                            data-table="cc_athlete_risk_waiver">
                        {% else %}
                            <i class="fa fa-times red"></i>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th style="width:55px;">
                  <i class="fa fa-thumbs-up green" title="Student Status"></i>
                  <i class="fa fa-thumbs-up red" title="Athlete Status"></i>
                </th>
                <th>Name</th>
                <th class="hide">ID</th>
                <th class="hide">Email</th>
                <th>
                <i class="fa fa-ambulance green" title="Emergency contact"></i>
                </th>
                <th><i class="fa fa-bug green" title="Immunization"></i></th>
                <th title="Insurance"><i class="fa fa-umbrella green"></i></th>
                <th title="Meningococcal meningitis/Hepatitis B response">
                    Meni
                </th>
                <th title="General Medical History">Gen hist</th>
                <th title="Athlete Medical History / Physical Evaluation / Medial consent and insurance agreement">Ath hist</th>
                <th title="Privacy waiver">Prvcy</th>
                <th title="Sickle cell waiver"><i class="fa fa-moon-o green"></i> cell</th>
                <th title="CCIW Injury and Illness Reporting Acknowledgement waiver">
                    Rprtng
                </th>
                <th title="Assumption of risk waiver">Risk</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.table-responsive -->
