{% extends "blank.html" %}
{% block css %}
<link href="https://app.carthage.edu/static/vendor/bootstrap-admin4/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_style %}
<style>
.dl-horizontal dt.widus {
  overflow: auto;
  width: 300px;
  margin-right:9px;
}
.dl-horizontal dd.yes {margin-left: 0;}
.nav-tabs{display:none;}
.tab-content > .tab-pane {display: block;}
.fade {opacity: 1;}
</style>
{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block body_tag %} onload="window.print()"{% endblock %}
{% block content %}
<div id="student-contact">
  <h1 class="page-header">
    {% if student.alt_name %}{{student.alt_name}}{% else %}{{student.first_name}}{% endif %} {{student.last_name}}
    <small>DOB: {{student.student.birth_date}} &mdash; Age: {{age}}</small>
  </h1>
</div>
<div id="emergency_information">
  <h2>Notes and comments</h2>
  {% include "dashboard/panels/staff_notes.html" %}
</div>
{% endblock content %}
