{% load cache %}
<h4>Medical History: {{med_percent}}%</h4>
<div class="table-responsive">
  <div class="card-body" style="margin-bottom:20px">
    <table class="dataTable display table-bordered table-hover" id="students-data">
        {% cache 86400 datatable_head %}
        <thead>
          <tr>
            <th style="width:55px;">
              <i class="fa fa-thumbs-up green" title="Student Status"></i>
              <i class="fa fa-thumbs-up red" title="Athlete Status"></i>
              <i class="fa fa-thumbs-up blue" title="Concussion Baseline"></i>
              {% if staff or coach %}
              <span class="d-none">Notes</span>
              {% endif %}
            </th>
            <th class="d-none">Student Status</th>
            <th class="d-none">Athlete Status</th>
            <th class="d-none">Concussion Baseline</th>
            <th style="width:200px;">Name</th>
            {% if staff or coach %}
            <th class="d-none">ID</th>
            <th class="d-none">DOB</th>
            <th class="d-none">Email</th>
            <th>
              <i class="fa fa-bug green" title="Immunization"></i>
              <span class="d-none">Immunization</span>
            </th>
            <th title="Insurance">
              <i class="fa fa-umbrella green"></i>
              <span class="d-none">Insurance</span>
            </th>
            <th title="Meningococcal meningitis/Hepatitis B response">
              <strong title="Meningococcal meningitis/Hepatitis B response" class="green">B</strong>
              <span class="d-none">Meningococcal meningitis/Hepatitis B response</span>
            </th>
            <th title="Medical history">
              <i class="fa fa-book green" title="Medical History"></i>
              <span class="d-none">Medical History</span>
            </th>
            <th title="Athlete Medical History">
              <i class="fa fa-book green" title="Athlete Medical History"></i>
              <i class="fa fa-futbol-o green" title="Athlete Medical History"></i>
              <span class="d-none">Athlete Medical History</span>
            </th>
            <th title="Pre-Participation Physical">
              <i class="fa fa-stethoscope green" title="Pre-Participation Physical"></i>
              <span class="d-none">Physical</span>
            </th>
            <th title="Medical consent and insurance agreement">
              <i class="fa fa-handshake-o green" title="Medical consent and insurance agreement"></i>
              <span class="d-none">Medical consent and insurance agreement</span>
            </th>
            <th title="Privacy waiver">
              <i class="fa fa-unlock" aria-hidden="true"></i>
              <span class="d-none">Privacy waiver</span>
            </th>
            <th title="Sickle cell waiver">
              <i class="fa fa-moon-o green"></i>
              <span class="d-none">Sickle cell wiaver</span>
            </th>
            <th title="CCIW Injury and Illness Reporting Acknowledgement waiver">
              <i class="fa fa-microphone" aria-hidden="true"></i>
              <span class="d-none">CCIW Injury and Illness Reporting Acknowledgement waiver</span>
            </th>
            <th title="Assumption of risk waiver">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <span class="d-none">Assumption of Risk Waiver</span>
            </th>
            {% endif %}
          </tr>
        </thead>
        {% endcache %}
        <tbody>
        {% for s in students %}
          {% if s.class_year == 'Graduate' and not s.athlete %}
          {% else %}
          <tr>
            <td class="{{s.adult}}" style="text-align:left;">
              {% if s.sitrep %}
                <i class="fa fa-check green" title="Student Status"></i>
              {% else %}
                {% if s.manid and staff %}
                <input type="checkbox" name="sitrep"
                  data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                  data-table="student_medical_manager" title="Student Status">
                {% else %}
                <i class="fa fa-times red" title="Student Status"></i>
                {% endif %}
              {% endif %}
              {% if s.sitrep_athlete %}
                <i class="fa fa-check red" title="Athlete Status"></i>
              {% else %}
                {% if s.athlete and staff %}
                <input type="checkbox" name="sitrep_athlete"
                  data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                  data-table="student_medical_manager" title="Athlete Status">
                {% else %}
                <i class="fa fa-times red" title="Athlete Status"></i>
                {% endif %}
              {% endif %}
              {% if s.concussion_baseline %}
                <i class="fa fa-check blue" title="Concussion Baseline"></i>
              {% else %}
                {% if s.athlete and staff %}
                <input type="checkbox" name="concussion_baseline"
                  data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                  data-table="student_medical_manager" title="Concussion Baseline">
                {% else %}
                <i class="fa fa-times red" title="Concussion Baseline"></i>
                {% endif %}
              {% endif %}
              {% if staff or coach %}
              <span style="float:right;"><!-- all one line required -->
                {% if s.manid %}
                <a href="#" data-field="staff_notes" data-type="textarea" data-cid="{{s.id}}" data-pk="{{s.manid}}" class="xeditable" data-table="student_medical_manager"><i class="fa {% if s.staff_notes %}fa-commenting yellow{% else %} fa-commenting-o green{% endif %}" data-toggle="popover" data-placement="right" data-content="{{s.staff_notes|default_if_none:''}}"><span style="position:absolute;left:-10000px;">{{s.staff_notes|default_if_none:''}}</span></i></a>
                {% else %}
                <i class="fa fa-commenting red" data-toggle="popover" data-placement="right" data-content="No student medical manager yet."></i>
                {% endif %}
              </span>
              {% endif %}
            </td>
            <td class="d-none">{% if s.sitrep %}x{% else %}&nbsp;{% endif %}</td>
            <td class="d-none">{% if s.sitrep_athlete %}x{% else %}&nbsp;{% endif %}</td>
            <td class="d-none">{% if s.concussion_baseline %}x{% else %}&nbsp;{% endif %}</td>
            <td class="{{s.adult}} student-name" style="text-align:left;">
              {% if staff %}
                <a href="{% url 'student_detail' s.id %}">
                  {{s.last_name}}, {{s.first_name}}</a>
                {% if s.athlete %}
                <span style="float:right;margin-left:3px;">
                <i class="fa fa-star green" title="Athlete: {{s.class_year}}"></i>
                </span>
                {% endif %}
              {% else %}
                <a href="{% url 'sports' s.manid %}">
                  {{s.last_name}}, {{s.first_name}}</a>
              {% endif %}
            </td>
            {% if staff or coach %}
            <td class="d-none">{{s.id}}</td>
            <td class="d-none">{{s.birth_date}}</td>
            <td class="d-none">{{s.email}}</td>
            <td class="{{s.adult}}">
              {% if s.cc_student_immunization %}
                <i class="fa fa-check" title="Immunization">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                {% if s.manid %}
                <input type="checkbox" name="cc_student_immunization"
                  data-cid="{{s.id}}" data-pk="{{s.manid}}" value="1"
                  data-table="student_medical_manager" title="Immunization">
                {% else %}
                  <i class="fa fa-times red" title="Immunization"></i>
                {% endif %}
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.cc_student_health_insurance %}
                <i class="fa fa-check" title="Health Insurance">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                <i class="fa fa-times red" title="Health Insurance"></i>
              {% endif %}
            </td>
            {% if s.residency == "R" %}
            <td class="{{s.adult}}">
              {% if s.cc_student_meni_waiver %}
                <i class="fa fa-check" title="Meningococcal meningitis/Hepatitis B response">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                {% if s.manid %}
                  <input type="checkbox" name="agree" value="1"
                    data-cid="{{s.id}}" data-pk=""
                    data-table="student_meni_waiver"
                    title="Meningococcal meningitis/Hepatitis B response">
                {% else %}
                  <i class="fa fa-times red" title="Meningococcal meningitis/Hepatitis B response"></i>
                {% endif %}
              {% endif %}
            </td>
            {% else %}
            <td class="{{s.adult}}" style="background-color:#cacaca;">
              <i class="fa fa-ban red" title="Meningococcal meningitis/Hepatitis B response"></i>
            </td>
            {% endif %}
            <td class="{{s.adult}}">
              {% if s.cc_student_medical_history %}
                <i class="fa fa-check" title="Medical History">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                <i class="fa fa-times red" title="Medical History"></i>
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.cc_athlete_medical_history %}
                <i class="fa fa-check" title="Athlete Medical History">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                <i class="fa fa-times red" title="Athlete Medical History"></i>
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.physical_evaluation_1 and s.physical_evaluation_2 %}
                <i class="fa fa-check" title="Pre-participation Physical">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                <i class="fa fa-times red" title="Pre-participation Physical"></i>
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.medical_consent_agreement %}
                <i class="fa fa-check" title="Medical consent and insurance agreement">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                <i class="fa fa-times red" title="Medical consent and insurance agreement"></i>
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.cc_athlete_privacy_waiver %}
                <i class="fa fa-check" title="Privacy Waiver">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                <i class="fa fa-times red" title="Privacy Waiver"></i>
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.athlete %}
                {% if s.cc_athlete_sicklecell_waiver and s.class_year == 'Freshman' %}
                <i class="fa fa-check {% if s.results_file_status %}green{% else %}yellow{% endif %}" title="Sickle cell results">
                  <span style="display:none;">x</span></i>
                {% else %}
                  {% if s.sicklecell_required or s.class_year == 'Freshman' %}
                  <i class="fa fa-times red" title="Sickle cell results"></i>
                  {% else %}
                    <i class="fa fa-ban red" title="Sickle cell results"></i>
                  {% endif %}
                {% endif %}
              {% else %}
                <i class="fa fa-ban red" title="Sickle cell results"></i>
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.cc_athlete_reporting_waiver %}
                <i class="fa fa-check" title="CCIW Injury and Illness Reporting Acknowledgement waiver">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                {% if s.manid and s.athlete and staff %}
                  <input type="checkbox" name="agree" value="1"
                    data-cid="{{s.id}}" data-pk=""
                    data-table="athlete_reporting_waiver"
                    title="CCIW Injury and Illness Reporting Acknowledgement waiver">
                {% else %}
                  <i class="fa fa-times red"></i>
                {% endif %}
              {% endif %}
            </td>
            <td class="{{s.adult}}">
              {% if s.cc_athlete_risk_waiver %}
                <i class="fa fa-check" title="Assumption of risk waiver">
                  <span style="display:none;">x</span>
                </i>
              {% else %}
                {% if s.manid and s.athlete and staff %}
                  <input type="checkbox" name="agree" value="1"
                    data-cid="{{s.id}}" data-pk=""
                    data-table="athlete_risk_waiver"
                    title="Assumption of risk waiver">
                {% else %}
                  <i class="fa fa-times red" title="Assumption of risk waiver"></i>
                {% endif %}
              {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
        {% cache 86400 datatable_foot %}
        <tfoot>
          <tr>
            <th style="width:55px;padding-right:30px;">
              <i class="fa fa-thumbs-up green" title="Student Status"></i>
              <i class="fa fa-thumbs-up red" title="Athlete Status"></i>
              <i class="fa fa-thumbs-up blue" title="Concussion Baseline"></i>
              {% if staff or coach %}
              <span class="d-none">Notes</span>
              {% endif %}
            </th>
            <th class="d-none">Student Status</th>
            <th class="d-none">Athlete Status</th>
            <th class="d-none">Concussion Baseline</th>
              {% if staff or coach %}
              <span class="d-none">Notes</span>
              {% endif %}
            <th style="width:200px;">Name</th>
            {% if staff or coach %}
            <th class="d-none">ID</th>
            <th class="d-none">DOB</th>
            <th class="d-none">Email</th>
            <th><i class="fa fa-bug green" title="Immunization"></i></th>
            <th title="Insurance"><i class="fa fa-umbrella green"></i></th>
            <th title="Meningococcal meningitis/Hepatitis B response">
              <strong title="Meningococcal meningitis/Hepatitis B response" class="green">B</strong>
            </th>
            <th title="Medical History">
              <i class="fa fa-book green" title="Medical History"></i>
            </th>
            <th title="Athlete Medical History">
              <i class="fa fa-book green" title="Athlete Medical History"></i>
              <i class="fa fa-futbol-o green" title="Athlete Medical History"></i>
            </th>
            <th title="Pre-Participation Physical">
              <i class="fa fa-stethoscope green" title="Pre-Participation Physical"></i>
            </th>
            <th title="Medical consent and insurance agreement">
              <i class="fa fa-handshake-o green" title="Medical consent and insurance agreement"></i>
            </th>
            <th title="Privacy waiver">
              <i class="fa fa-unlock" aria-hidden="true"></i>
            </th>
            <th title="Sickle cell waiver">
              <i class="fa fa-moon-o green"></i>
            </th>
            <th title="CCIW Injury and Illness Reporting Acknowledgement waiver">
              Rprtng
            </th>
            <th title="Assumption of risk waiver">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <span class="d-none">Assumption of Risk Waiver</span>
            </th>
            {% endif %}
          </tr>
        </tfoot>
        {% endcache %}
    </table>
  </div>
</div>
<!-- /.table-responsive -->
