{% extends "dashboard/home.html" %}
{% block extra_style %}
<style>
.dl-horizontal dt.widus {
    overflow: auto;
    width: 300px;
    margin-right:9px;
}
.dl-horizontal dd.yes {
    margin-left: 0;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="/static/djaludir/js/spin.min.js" type="text/javascript"></script>
<script>
$(function() {
    /* spinner */
    var opts = {
        lines: 13, // The number of lines to draw
        length: 20, // The length of each line
        width: 10, // The line thickness
        radius: 30, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#000', // #rgb or #rrggbb or array of colors
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'search-results', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: '50px', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    };
    var i;
    var doms = [
        "cc_student_health_insurance",
        "cc_student_medical_history",
        "cc_athlete_medical_history",
        "emergency_information"
    ];
    for (i = 0; i < doms.length; ++i) {
        var target = document.getElementById(doms[i]);
        var spinner = new Spinner(opts).spin(target);
    }
    for (i = 0; i < doms.length; ++i) {
        $.ajax ({
            type: "POST",
            url: "{% url 'dashboard_panels' %}",
            data: {"dom":doms[i],"cid":{{student.id}}},
            cache: false,
            indexValue: i,
            target: document.getElementById(doms[i]),
            success: function(html) {
                //spinner.stop(this.target);
                $("#" + doms[this.indexValue]).html(html);
            }
        });
    }
});
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">
                {{student.firstname}} {{student.lastname}}
                <small>Athlete</small><br />
                <small>DOB: {{student.birth_date}} &mdash; Age: {{age}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-8">
                            <address>
                            {{student.addr_line1}} {{student.addr_line2}}<br>
                            {{student.city}}, {{student.st}}<br>
                            {{student.zip}} {{student.ctry}}<br>
                            <abbr title="Phone">P:</abbr>
                            {{student.phone}}<br>
                            <a href="mailto:{{student.ldap_name}}@carthage.edu">
                                {{student.ldap_name}}@carthage.edu
                            </a>
                            </address>
                        </div>
                    </div> <!-- /.row -->
                </div> <!--/.panel-heading -->
            </div> <!-- /.panel-success -->
        </div> <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-ambulance"></i>
                        Emergency Contact Information
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="emergency_information">
                        <p style="height:200px;"></p>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-umbrella"></i>
                        Health Insurance
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="cc_student_health_insurance">
                        <ul style="margin-bottom: 15px;" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#primary-insurance">
                                    Primary
                                </a>
                            </li>
                            <li class="disabled">
                                <a>
                                    Secondary
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-tabs -->
                        <div class="tab-content">
                            <div id="primary-insurance" class="tab-pane fade active in">
                                <p></p>
                            </div>
                            <div id="secondary-insurance" class="tab-pane fade">
                                <p></p>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.health-insurance -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-plus-square"></i>
                        Medical History
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student-medical-history">
                        <ul style="margin-bottom: 15px;" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#cc_student_medical_history">
                                    Student
                                </a>
                            </li>
                            <li{#% if not student.athlete class="disabled" endif #}>
                                <a href="#cc_athlete_medical_history" data-toggle="tab">
                                    Athlete
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-tabs -->
                        <div class="tab-content" id="medical-history-content">
                            <div id="cc_student_medical_history" class="tab-pane fade active in">
                                <p>&nbsp;</p>
                            </div>
                            <div id="cc_athlete_medical_history" class="tab-pane fade">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.medical-history -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-hospital-o"></i>
                        Waivers and Agreements
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:220px;">
                    <div class="waivers-agreements">
                        <ul style="margin-bottom: 15px;" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#assumption-risk">
                                    Risk waiver
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#cciw-reporting">
                                    CCIW waiver
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#privacy">
                                    Privacy waiver
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#sickle-cell">
                                    Sickle cell waiver
                                </a>
                            </li>
                        </ul>
                        <!-- /.nav-tabs -->
                        <div class="tab-content" id="waiver-content">
                            <div id="assumption-risk" class="tab-pane fade active in">
                                <p>
                                    risk
                                </p>
                            </div>
                            <div id="cciw-reporting" class="tab-pane fade">
                                <p>
                                    cciw
                                </p>
                            </div>
                            <div id="privacy" class="tab-pane fade">
                                <p>
                                    HIPAA and FERPA waiver
                                </p>
                            </div>
                            <div id="sickle-cell" class="tab-pane fade">
                                <p>
                                    Sickle cell
                                </p>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-info -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
{% endblock content %}
