<div class="student-contact">
    <h1 class="page-header">
    {{student.first_name}} {{student.last_name}} ({{student.gender}}) [{{student.id}}]
    {% if student.athlete %}<small>Athlete</small><br />{% endif %}
    <small>DOB: {{student.birth_date}} &mdash; Age: {{stu.age}}</small>
    </h1>
    <address>
    {{student.address1}} {{student.address2}}<br>
    {{student.city}}, {{student.state}}<br>
    {{student.postal_code}} {{student.country}}<br>
    {{student.phone}}<br>
    {{student.email}}<br>
    Residency: {{student.residency}}
    </address>
</div>
<div class="emergency_information">
    <h2>Emergency Contact Information</h2>
    {% if ens %}
        {% for e in ens %}
        <h4>Contact {{forloop.counter}}</h4>
        <ul>
          <li>{{e.line1}}</li>
          <li>{{e.phone}}</li>
        </ul>
        {% endfor %}
    {% else %}
      {% with ens=student.ens %}
        {% for e in ens %}
        <h4>Contact {{forloop.counter}}</h4>
        <ul>
          <li>{{e.line1}}</li>
          <li>{{e.phone}}</li>
        </ul>
        {% endfor %}
      {% endwith %}
    {% endif %}
</div>
<div class="cc_student_health_insurance">
    <h2>Health Insurance</h2>
    {% if shi %}
      {{shi}}
    {% else %}
      {{student.shi}}
    {% endif %}
</div>
