{% extends "blank.html" %}
{% block css %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
        rel="stylesheet">
    <link href="//www.carthage.edu/static/vendor/dashboard/font-awesome/css/font-awesome.min.css"
        rel="stylesheet">
{% endblock %}
{% block extra_style %}
<style>
body {font-size: 1em;}
blockquote {font-size:1em;border:0;}
h1, .h1 {font-size: 2em;}
h2, .h2 {font-size: 1.7em;}
h3, .h3 {font-size: 1.4em;}
h4, .h4 {font-size: 1.1em;}
@page { size: 8.5in 10.875in;margin: .6in 0; padding: 0 .5in;}
fieldset {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: always;
}
ol {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: always;
}
fieldset ol li {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: always;
}
.athlete-header {margin-bottom:-10px;margin-left:9px;}
.dl-horizontal dt.widus {
    overflow: auto;
    width: 300px;
    margin-right:9px;
}
.dl-horizontal dd.yes {
    margin-left: 0;
}
.nav-tabs{display:none;}
.tab-content > .tab-pane {
    display: block;
}
.fade {
    opacity: 1;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
if ( window.location.search.match( /print/gi ) ) {
    $('#print-header').append("#student-contact");
}
</script>
{% endblock %}
{% block body_tag %} onload="window.print()"{% endblock %}
{% block content %}
<div id="print-header" style="float:right;"></div>
<div id="student-contact">
    <h1 class="page-header">
    {{student.firstname}} {{student.lastname}}
    <small>DOB: {{student.birth_date}} &mdash; Age: {{age}}</small>
    </h1>
</div>
<div id="student-medical-history">
    <h2>Medical History</h2>
    <h3>Student</h3>
    {{smh}}
    <h3>Athlete</h3>
    {{amh}}
</div>
{% endblock content %}
