<div id="cc_student_meni_waiver" class="tab-pane fade show active"
  role="tabpanel" aria-labelledby="cc_student_meni_waiver">
  <h3>Meningococcal meningitis/Hepatitis B response</h3>
  {% include "medical_history/waivers/student_meni.inc.html" %}
</div>
<div id="cc_athlete_privacy_waiver" class="tab-pane fade"
  role="tabpanel" aria-labelledby="cc_athlete_privacy_waiver">
  <h3>HIPAA and FERPA waiver</h3>
  {% include "medical_history/waivers/athlete_privacy.inc.html" %}
</div>
<div id="cc_athlete_sicklecell_waiver" class="tab-pane fade"
  role="tabpanel" aria-labelledby="cc_athlete_sicklecell_waiver">
  <h3>Sickle cell Status</h3>
  {% include "medical_history/waivers/athlete_sicklecell.inc.html" %}
</div>
<div id="cc_athlete_reporting_waiver" class="tab-pane fade"
  role="tabpanel" aria-labelledby="cc_athlete_reporting_waiver">
  <h3>CCIW Injury and Illness Reporting Acknowledgement waiver</h3>
  {% include "medical_history/waivers/athlete_reporting.inc.html" %}
</div>
<div id="cc_athlete_risk_waiver" class="tab-pane fade"
  role="tabpanel" aria-labelledby="cc_athlete_risk_waiver">
  <h3>Assumption of risk waiver</h3>
  {% include "medical_history/waivers/athlete_risk.inc.html" %}
</div>
