body {background-color: #E5DCC1;font-family: verdana,arial,sans-serif;}
li.ctrlHolder div ul li {display:inline; padding-right:3px;}
li.ctrlHolder div ul {margin-left:-30px;}
.form .blockLabels label { display: inherit; font-weight: normal; }
.form .blockLabels label.error {display:none !important;}
.placeholder {color:#800;}
h1,h2,h3 {font-weight:normal;}
.nobull li {list-style-type: none;}
.forms-container {
    display:none;
    border-top:1px #666 solid;
    padding:3px;top:15px;position:relative;
    width: 795px;
}
form .ctrlHolder, .form .btnHolder { margin: 0 !important; }
form textarea {width: 300px !important;height:50px !important;}
#profile h2 { margin-left: 2px; }
.span-10 {margin-right:0px !important;}
.prepend-1 { padding-left: 38px; }
.form fieldset { border: 0; }
.help {margin-top:-2px;}
.form select {width:200px;}
li.error { background: no-repeat right center; border:0; margin-bottom:0;
padding:0; }
.ui-datepicker-calendar { display: none; }
