li.ctrlHolder div ul li {display:inline;}
li.ctrlHolder div ul {margin-left:-30px;}
.form .blockLabels label { display: inherit; font-weight: normal; }
.form .blockLabels label.error {display:none !important;}
.placeholder {color:#800;}
h1,h2,h3 {font-weight:normal;}
li {
list-style-type: none !important;
list-style: none !important;
list-style-image: none !important;
}
.slider-container { display:none; width: 795px; }
ol{margin:0;padding:0;}
.form fieldset.btnHolder {background-color:#fff; }
form textarea {width: 300px !important;height:90px !important;}
.help {margin-top:-2px;}
.form select {width:200px;}
.form .bootstrap-select { width: 350px; }
.form ul li.error { display:none !important;}
.ui-datepicker-calendar { display: none; }
.center{text-align:center;}
.red, .glyphicon {color:#800;}
.green, .glyphicon-ok {color:#008000;}
#id_sports{background:none;}
#primary-form{margin-right:20px;}
